<article class="progress-chart">
    <aside class="progress-containter">
        <canvas baseChart
          [options]="doughnutChartOptions"
          [data]="doughnutChartData"
          [labels]="doughnutChartLabels"
          [chartType]="doughnutChartType">
        </canvas>
      </aside>
      <aside>
        hiii
      </aside>
</article>