<article class="bar-chart">
    
    <div class="bar-chart-container" *ngIf="!utilizationProp">
        <canvas *ngIf="barMultiDataProp" baseChart height="306vh" [datasets]="barChartMultiData"
            [labels]="barChartMultiLabels" [options]="barChartMultiDataOptions" [plugins]="barChartPlugins"
            [legend]="barChartLegend" [colors]="barChartMultiColors" [title]="'Workers Involved'"
            [chartType]="barChartType">
        </canvas>
        <canvas *ngIf="!barMultiDataProp" baseChart height="306vh" [datasets]="barChartSingalData"
            [labels]="barChartSingleLabels" [options]="barChartSingleDataOptions" [plugins]="barChartPlugins"
            [legend]="barChartLegend" [colors]="barChartSingalColors" [chartType]="barChartType">
        </canvas>
        <!-- <button mat-button mat-raised-button color="primary" (click)="randomize()">Update</button> -->
    </div>

    <div class="bar-chart-container" *ngIf="utilizationProp">
        <canvas *ngIf="!barMultiDataProp" baseChart height="270vh" [datasets]="barChartUtilSingalData"
            [labels]="barChartUtilLabels" [options]="barChartOptions" [plugins]="barChartPlugins"
            [legend]="barChartLegend" [colors]="barChartSingalColors" [chartType]="barChartType">
        </canvas>
        <!-- <button mat-button mat-raised-button color="primary" (click)="randomize()">Update</button> -->
    </div>
    
</article>