@import '../mixin.scss';
.master-header {
	height: 80px;
	font-size: 16px;
	background: #fefefe;
	position: relative;
	box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.2);
	text-align: center;

	.logo {
		width: 230px;
		height: 100%;
		float: left;
		position: relative;
		img {
			margin-left: 8%;
			width: 100%;
			display: block;
			@extend align-center;
		}
	}

	.menu {
		padding: 0;
		margin: 0;
		width: calc(100% - 500px);
		height: 100%;
		list-style: none;
		display: inline-block;
		color: #7a838f;

		> li {
			float: left;
			cursor: pointer;
			width: calc(100% /5);
			text-align: center;
			height: 100%;
			font-weight: bold;
			font-size: 12px;

			.icon {
				display: block;
				margin: 16px 0 8px;
				img {
					width: 20px;
					height: 20px;
				}
			}

			label {
				font-size: 15px;
				display: block;
				cursor: pointer;
				margin-bottom: 8px;
				font-weight: 600;
			}

			sub {
				display: block;
				width: 30%;
				height: 2px;
				background: #273239;
				margin: auto;

			}

			&.active {
				color: #273239;
			}
		}

		&.after {
			@extend clear-both-float;
		}
	}

	.profile {
		width: 200px;
		height: 100%;
		float: right;

		.initials {
			padding: 0;
			margin: 0;
			width: 48px;
			height: 48px;
			border-radius: 50%;
			text-align: center;
			font-size: 20px;
			background: #9b9d9c;
			color: #fff;
			line-height: 48px;
			float: left;
			margin-right: 8px;
			margin-top: 16px;
		}

		.name-and-designation {
			color: #9b9d9c;
			height: 48px;
			float: left;
			margin-top: 24px;
			h3, h5 {
				margin: 0;
				padding: 0;
			}
			h3 {
				font-weight: bolder;
			}
			h5 {

			}
		}

		.menu-btn {
			padding: 0;
			margin: 0;
			border: none;
			float: right;
			margin-top: 24px;
			margin-right: 8px;
			background: transparent;
			cursor: pointer;
			color: #9b9d9c;
			i {
				font-size: 35px;
			}
		}

		&.after {
			@extend clear-both-float;
		}

	}

	&.after {
		@extend clear-both-float;
	}

	.notification-details-layer {
        position: absolute;
        top: 0;
        left: 0;
		width: 100%;
		height: 850px;
    }
	
}