<section class="master-header">

	<aside class="logo">
		<img src="/assets/images/logo.svg" alt="">
	</aside>

	<ul class="menu">

		<li (click)="navigateTo('live-events')"
			[class.active]="!routedTabNameProp || routedTabNameProp === 'live-events'">
			<span class="icon">
				<img src="/assets/svg/live events.svg" alt="">
			</span>
			<label class="menu-name">Live Events</label>
			<sub *ngIf="!routedTabNameProp || routedTabNameProp === 'live-events'"></sub>
		</li>

		<li (click)="navigateTo('sensor-alerts')" [class.active]="routedTabNameProp === 'sensor-alerts'">
			<span class="icon">
				<img src="/assets/svg/Sensor Alerts.svg" alt="">
			</span>
			<label class="menu-name">Sensor Alerts</label>
			<sub *ngIf="routedTabNameProp === 'sensor-alerts'"></sub>
		</li>

		<li (click)="navigateTo('analytics')" [class.active]="routedTabNameProp === 'analytics'">
			<span class="icon">
				<img src="/assets/svg/Analytics.svg" alt="">
			</span>
			<label class="menu-name">Analytics</label>
			<sub *ngIf="routedTabNameProp === 'analytics'"></sub>
		</li>

		<li (click)="navigateTo('utilization')" [class.active]="routedTabNameProp === 'utilization'">
			<span class="icon">
				<img src="/assets/svg/Utilization.svg" alt="">
			</span>
			<label class="menu-name">Utilization</label>
			<sub *ngIf="routedTabNameProp === 'utilization'"></sub>
		</li>

		<li (click)="navigateTo('operations')" [class.active]="routedTabNameProp === 'operations'">
			<span class="icon">
				<img src="/assets/svg/Operations.svg" alt="">
			</span>
			<label class="menu-name">Operations</label>
			<sub *ngIf="routedTabNameProp === 'operations'"></sub>
		</li>

	</ul>

	<div class="profile">

		<figure class="initials">GB</figure>
		<aside class="name-and-designation">
			<h3 class="name">Garret Bel</h3>
			<h5 class="designation">Site Supervisor</h5>
		</aside>

		<button class="menu-btn" (click)="setting()">
			<i class="material-icons">more_vert</i>
		</button>

	</div>

	 <aside class="notification-details-layer" *ngIf="showNotificationDetailsPage">
        <app-setting
            (closeNotificationDetailsPageEvent)="handleCloseNotificationDetailsPage($event)"
        ></app-setting>
    </aside>

</section>