<div class="app">

    <header class="app-header">
        <app-master-header [routedTabNameProp]="routedTabName" (routerNameEvent)="handleRouterNameEvent($event)"></app-master-header>
    </header>

    <section class="main">        
        <router-outlet></router-outlet>
    </section>
    
</div>