@import "../../mixin.scss";

.notification-details {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 998;
    @extend align-center;

    .notification-details-container {
        background: #3e3d3bf0;
        width: calc(100% - 40px);
        height: calc(100% - 15px);
        border-radius: 20px;
        padding: 20px 42px;
        @extend align-center;

        .close-btn {
            position: absolute;
            top: 20px;
            right: 20px;
            padding: 0;
            margin: 0;
            border: none;
            background: transparent;
            width: 40px;
            height: 40px;
            outline: none;
            cursor: pointer;
            i {
                font-size: 36px;
                color: #ffffff;
            }
        }
        .header-logo {
            text-align: left;
            width: 80px;
            // height: 80px;
            span {
                width: 100%;
                display: inline-block;
                img {
                    height: 100%;
                    width: 100%;
                }
            }
            .shift-report-header {
                font-size: 20px;
                font-weight: bolder;
                margin-bottom: 15px;
                // height: 32px;

                label {
                    line-height: 1.8;
                    font-size: 35px;
                    color: #ffffff;
                    position: absolute;
                    margin: 10px 0px 20px 20px;
                }

                button {
                    border: none;
                    padding: 0;
                    margin: 0;
                    width: 32px;
                    height: 32px;
                    background: transparent;
                    color: #fff;
                    float: right;
                    cursor: pointer;
                    outline: none;
                }
            }
        }
        .user-pic-details-and-score {
            margin-bottom: 64px;
            .user-pic {
                padding: 0;
                margin: 0;
                width: 180px;
                height: 180px;
                border-radius: 50%;
                display: inline-block;
                vertical-align: top;
                background: rgba(0, 0, 0, 0.2);
                margin-right: 42px;
                // margin-right: calc((100% - (180px + 250px + 180px + 280px)) / 3);
                img {
                    width: 100%;
                }
            }

            .user-details {
                width: 250px;
                // height: 180px;
                padding: 0;
                margin: 0;
                list-style: none;
                color: #ffffff;
                display: inline-block;
                font-size: 18px;
                margin-right: 42px;
                // margin-right: calc((100% - (180px + 250px + 180px + 280px)) / 3);
                vertical-align: top;

                li {
                    line-height: 44px;
                    border-bottom: 1px solid #9d9e9e;
                    .key {
                        width: 100px;
                        display: inline-block;
                    }
                    .value {
                        display: inline-block;
                        width: calc(100% - 100px);
                    }
                }
            }

            .user-reporting {
                color: #ffffff;
                width: 180px;
                display: inline-block;
                vertical-align: top;
                margin-right: 42px;
                // margin-right: calc((100% - (180px + 250px + 180px + 280px)) / 3);

                .reporting-officer-details,
                .shift {
                    border: 1px solid #9d9e9e;
                    border-radius: 10px;
                    padding: 5px 16px;
                }

                .line1,
                .line2 {
                    padding: 0;
                    margin: 0;
                    font-size: 16px;
                    line-height: 30px;
                }
                .line2 {
                    font-weight: bolder;
                    &.name {
                        text-transform: uppercase;
                    }
                }

                .reporting-officer-details {
                    margin-bottom: 35px;
                }
            }

            .user-score {
                display: inline-block;
                vertical-align: top;
                .score {
                    text-align: center;
                    display: inline-block;
                    width: 140px;
                    vertical-align: top;
                    figure {
                        padding: 0;
                        margin: 0;
                        width: 110px;
                        height: 110px;
                        font-size: 65px;
                        font-weight: bolder;
                        border-radius: 50%;
                        color: #fff;
                        text-align: center;
                        line-height: 110px;
                        margin: 16px auto;
                        vertical-align: top;
                    }
                    label {
                        font-weight: bolder;
                        color: #ffffff;
                        font-size: 15px;
                    }
                    &.productivity {
                        figure {
                            background: #4d8311;
                        }
                    }
                    &.safty {
                        figure {
                            background: #bb6e29;
                        }
                    }
                }
            }
        }

        .setting-container {
            width: 100%;
            // height: calc(100% - 470px);
            .mute-notification {
                display: inline-block;
                vertical-align: top;
                width: 25%;
                float: left;
                height: 100%;
                border-radius: 10px;
                padding-bottom: 2%;
                background: rgba(255, 255, 255, 0.2);

                .list-header {
                    text-align: center;
                    color: #fff;
                    font-weight: 700;
                    background: #ffffff24;
                    padding: 14px;
                    border-radius: 10px;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                }
                ul {
                    padding: 4px;
                    margin: 0;
                    list-style: none;
                    height: calc(100% - 54px);
                    overflow-y: hidden;

                    li {
                        color: #ffffff;
                        padding: 16px 8px;
                        // border-bottom: 1px solid #9d9e9e;
                        cursor: pointer;
                        text-align: justify;
                        padding-left: 30%;
                        &:hover,
                        &.active {
                            background: rgba(0, 0, 0, 0.2);
                        }

                        &:last-child {
                            border-bottom: none;
                        }

                        input {
                            // position: absolute;
                            opacity: 0;
                            cursor: pointer;
                            height: 0;
                            width: 0;
                        }

                        .custom-radio {
                            position: absolute;

                            height: 22px;
                            width: 22px;
                            border: 2px solid #eee;
                            background-color: #9f9f9f54;
                            margin-left: -30px;
                            border-radius: 50%;
                        }

                        //   input:checked ~ .custom-radio  {
                        //     background-color: #9f9f9f54;
                        //   }
                        &.input:checked ~ .custom-radio:after {
                            color: white;
                        }
                        &.input:not(:checked) ~ .custom-radio:after {
                            color: #9f9f9f54;
                        }

                        input:checked ~ .custom-radio:after {
                            display: block;
                            content: "\25CF";
                            color: white;
                            margin: -5px 2px;
                            font-size: 22px;
                        }

                        figure {
                            padding: 0;
                            margin: 0;
                            width: 36px;
                            height: 36px;
                            border-radius: 50%;
                            display: inline-block;
                            vertical-align: top;
                            margin-right: 8px;
                            background: #565656bf;
                            margin-top: 5px;
                            position: relative;
                            img {
                                width: 100%;
                                @extend align-center;
                            }
                        }

                        .details {
                            width: calc(100% - 46px);
                            display: inline-block;
                            vertical-align: top;
                            .category {
                                display: block;
                                line-height: 26px;
                                font-weight: bolder;
                                font-size: 16px;
                                cursor: pointer;
                            }
                            time {
                                display: block;
                                line-height: 18px;
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
            .rules-engine {
                display: inline-block;
                vertical-align: top;
                width: 70%;
                float: right;
                height: 100%;
                padding-bottom: 2%;
                border-radius: 10px;
                background: rgba(255, 255, 255, 0.2);
                .list-header {
                    color: #fff;
                    font-weight: 700;
                    text-align: left;
                    background: #ffffff24;
                    padding: 14px;
                    border-radius: 10px;
                    text-transform: uppercase;
                }
                .rules-engine-top {
                    width: calc(100% - 20px);
                    .section {
                        width: calc((100% / 3) - 20px);
                        display: inline-block;
                        color: white;
                        text-align: justify;
                        header {
                            font-size: 17px;
                            padding: 15px 0px 15px 0px;
                            display: block;
                        }
                        .input-section {
                            label {
                                display: block;
                                padding: 4px 0px 10px 0px;
                                &.water-leakage {
                                    padding: 20px 0px 10px;
                                }
                            }
                            div {
                                label {
                                    display: inline-block;
                                }
                            }
                            input[type="text"] {
                                display: block;
                                background-color: transparent;
                                border: 1px white solid;
                                border-radius: 30px;
                                height: 40px;
                                width: 85%;
                                color: white;
                                padding: 10px 0px 10px 10px;
                            }
                        }
                    }
                }
            }

            .chennals-container {
                display: inline-block;
                vertical-align: top;
                width: 100%;
                float: left;
                height: 100%;
                border-radius: 10px;
                background: rgba(255, 255, 255, 0.2);
                margin-top: 25px;
                .list-header {
                    color: #fff;
                    font-weight: 700;
                    text-align: left;
                    background: #ffffff24;
                    padding: 14px;
                    border-radius: 10px;
                    text-transform: uppercase;
                    div {
                        float: right;
                        .parent-label {
                            padding-right: 50px;
                        }
                        input {
                            // position: absolute;
                            opacity: 0;
                            cursor: pointer;
                            height: 0;
                            width: 0;
                        }
                        span {
                            text-transform: none;
                        }

                        .custom-radio {
                            position: absolute;

                            height: 22px;
                            width: 22px;
                            border: 2px solid #eee;
                            background-color: #9f9f9f54;
                            margin-left: -30px;
                            border-radius: 50%;
                        }

                        //   input:checked ~ .custom-radio  {
                        //     background-color: #9f9f9f54;
                        //   }
                        &.input:checked ~ .custom-radio:after {
                            color: white;
                        }
                        &.input:not(:checked) ~ .custom-radio:after {
                            color: #9f9f9f54;
                        }

                        input:checked ~ .custom-radio:after {
                            display: block;
                            content: "\25CF";
                            color: white;
                            margin: -5px 2px;
                            font-size: 22px;
                        }
                    }
                }
                .split-chanel-section {
                    width: calc(100% - 20px);
                    .section {
                        width: calc((100% / 2) - 20px);
                        display: inline-block;
                    }
                    .section-1 {
                        color: white;
                        width: 30%;
                        text-align: justify;
                        div {
                            &.accident-proximity {
                                padding-bottom: 42px;
                            }
                            label {
                                display: block;
                                .line {
                                    width: 12%;
                                    border-bottom: 2px white solid;
                                    display: inline-block;
                                    padding-bottom: 10px;
                                    padding-left: -5px;
                                    margin-left: 5px;
                                    position: absolute;
                                }
                                &:first-child {
                                    padding: 15px 0px 5px 50px;
                                }
                            }
                            .violators {
                                display: block;
                                padding: 5px 40px 5px 0px;
                                float: right;
                            }
                            &::after {
                                @extend clear-both-float;
                            }
                            &.gas-leakage {
                                .impact-workers {
                                    display: block;
                                    padding: 5px 40px 0px 0px;
                                    text-align: end;
                                }
                                label {
                                    padding: 15px 0px 5px 50px;
                                }
                            }
                        }
                    }
                    .section-2 {
                        // width:calc((100%/2) - 70px);
                        width: 70%;
                        line-height: 2;
                        .detail {
                            padding: 15px;
                            border: 1px solid #9f9f9f54;
                            background-color: #7f7e7d;
                            color: white;
                            margin: 10px;
                            border-radius: 10px;
                            text-align: justify;
                        }
                    }
                }
            }
            .violation-details-and-track-points-actions {
                width: calc(100% - (320px + 32px));
                display: inline-block;
                vertical-align: top;
                .details {
                    background: rgba(255, 255, 255, 0.2);
                    border-radius: 10px;
                    color: #fff;
                    font-size: 15px;
                    margin-bottom: 36px;

                    .column {
                        padding: 30px;
                        margin: 0;
                        list-style: none;
                        width: calc(100% / 2);
                        float: left;
                        border-right: 1px solid #9d9e9e;
                        &:last-child {
                            border-right: none;
                        }
                        li {
                            line-height: 40px;
                            .key-name {
                                width: 100px;
                                display: inline-block;
                                font-weight: bold;
                            }
                            .value {
                                width: calc(100% - 100px);
                                display: inline-block;
                                font-weight: bold;
                            }
                        }
                    }
                    &::after {
                        @extend clear-both-float;
                    }
                }

                .activity-list {
                    padding: 0;
                    margin: 0;
                    list-style: none;
                    margin-bottom: 36px;

                    li {
                        display: inline-block;
                        position: relative;
                        height: 160px;
                        vertical-align: top;

                        figure {
                            padding: 0;
                            margin: 0;
                            border: 5px solid #ffffff;
                            width: 30px;
                            height: 30px;
                            background: skyblue;
                            border-radius: 50%;
                            @extend align-center;
                            z-index: 1;
                        }
                        p {
                            position: absolute;
                            top: unset;
                            bottom: 0;
                            text-align: center;
                            color: #ffffff;
                            width: 100%;
                        }
                        &:nth-child(odd) {
                            p {
                                top: 0;
                                bottom: unset;
                            }
                        }

                        &:first-child {
                            figure {
                                background: #ffffff;
                            }
                            &:after {
                                content: "";
                                display: none;
                            }
                        }

                        &:last-child {
                            figure {
                                background: red;
                                cursor: pointer;
                            }
                        }

                        &:after {
                            content: "";
                            width: 100%;
                            height: 2px;
                            background: #ffffff;
                            display: block;
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            margin: auto;
                            z-index: 0;
                            right: 50%;
                        }
                    }
                }

                .actions {
                    text-align: left;
                    button {
                        padding: 0;
                        margin: 0;
                        border-radius: 40px;
                        height: 60px;
                        width: 250px;
                        border: 1px solid #4e4d4cd9;
                        background: rgba(255, 255, 255, 0.2);
                        font-size: 16px;
                        font-weight: bold;
                        color: #fff;
                        cursor: pointer;
                        margin-left: 75px;
                        &:last-child {
                            margin-right: 75px;
                            float: right;
                        }
                    }
                }
            }
            .action-btn-container {
                text-align: right;
                button {
                    padding: 0;
                    margin: 20px 0px 0px 0px;
                    border-radius: 40px;
                    height: 60px;
                    width: 250px;
                    border: 1px solid #8c7979;
                    background: rgba(255, 255, 255, 0.2);
                    font-size: 16px;
                    font-weight: bold;
                    color: #fff;
                    cursor: pointer;
                    text-align: center;
                    margin-left: 75px;
                    border: 1px solid #929393;
                    outline: none;
                }
            }
        }
    }
}
