<article class="notification-details">

    <section class="notification-details-container">

        <!-- <span class="indicator"></span> -->

        <aside class="header-logo">
            <header class="shift-report-header">
                <span>
                    <img src="./assets/Settings/Settings.svg">
                </span>
                <label for="">Settings</label>
                <button class="close-btn" (click)="handleCloseNotificationDetailsPage()">
                    <i class="material-icons">close</i>
                </button>
            </header>
        </aside>


        <aside class="setting-container">

            <section class="mute-notification">
                <header class="list-header">Mute Notifications</header>
                <ul>
                    <li>
                        <label for="rdo4Hours">
                            <input type="radio" id="rdo4Hours" name="muteNotificaions" [checked]="true" />
                            <label for="rdo4Hours" class="custom-radio"></label>
                            <span>4 Hours</span>
                        </label>
                    </li>
                    <li>
                        <label for="rdo1Shift">
                            <input type="radio" id="rdo1Shift" name="muteNotificaions" [checked]="" />
                            <label for="rdo1Shift" class="custom-radio"></label>
                            <span>One Shift</span>
                        </label>
                    </li>
                    <li>
                        <label for="rdo1Day">
                            <input type="radio" id="rdo1Day" name="muteNotificaions" [checked]="" />
                            <label for="rdo1Day" class="custom-radio"></label>
                            <span>One Day</span>
                        </label>
                    </li>
                    <li>
                        <label for="rdoDontShowme">
                            <input type="radio" id="rdoDontShowme" name="muteNotificaions" [checked]="" />
                            <label for="rdoDontShowme" class="custom-radio"></label>
                            <span>Don't Show Me</span>
                        </label>
                    </li>
                </ul>
            </section>
            <section class="rules-engine">
                <header class="list-header">Rule Engine</header>
                <div class="rules-engine-top">
                    <div class="section">
                        <header> Accident Impact</header>
                        <div class="input-section">
                            <label>Proximity</label>
                            <input type="text" value="5FT" />
                            <label class="water-leakage">Water Leakage</label>
                            <input type="text" value="20FT" />
                        </div>
                    </div>
                    <div class="section">
                        <header>&nbsp; </header>
                        <div class="input-section">
                            <label class="gas-leakage"> Gas Leakage</label>
                            <div>
                                <input type="checkbox" name="leakageZone" id="CurrentZone" />
                                <label for="CurrentZone">Current Zone</label>
                            </div>
                            <div>
                                <input type="checkbox" name="leakageZone" id="AdjacentZone" />
                                <label for="AdjacentZone">Adjacent Zone</label>
                            </div>
                            <div>
                                <input type="checkbox" name="leakageZone" id="AllZone" />
                                <label for="AllZone">All Zone</label>
                            </div>
                        </div>


                    </div>
                    <div class="section">

                        <header>Alert Creation</header>
                        <div class="input-section">
                            <label>Idle Time Detection</label>
                            <input type="text" value="15 mins" />
                            <label class="water-leakage">Missing Safety Gear</label>
                            <input type="text" value="3 mins" />
                        </div>
                    </div>
                </div>
            </section>
        </aside>
        <aside class="setting-container">
            <section class="chennals-container">
                <header class="list-header">Channels
                    <div class="selection-area">
                        <label class="parent-label" for="rdoUseTransalation">
                            <input type="radio" id="rdoUseTransalation" name="selectChannal" checked />
                            <label for="rdoUseTransalation" class="custom-radio"></label>
                            <span>Use Translation</span>
                        </label>
                        <label class="parent-label" for="rdoUploadContent">
                            <input type="radio" id="rdoUploadContent" name="selectChannal" />
                            <label for="rdoUploadContent" class="custom-radio"></label>
                            <span>Upload Content</span>
                        </label>
                    </div>
                </header>
                <section class="split-chanel-section">
                    <aside class="section section-1">
                        <div class="accident-proximity">
                            <label>
                                Accident Proximity <span class="line"></span>
                            </label>
                            <span class="violators">
                                VIOLATORS
                            </span>
                        </div>
                        <div class="gas-leakage">
                            <span class="impact-workers">
                                IMPACT WORKERS
                            </span>
                            <label>
                                Gas Leakage <span class="line"></span>
                            </label>
                            <span class="impact-workers">
                                IMPACT WORKERS
                            </span>
                        </div>

                    </aside>
                    <aside class=" section section-2">
                        <div class="detail">
                            Work in progress, Stay Away from current Zone
                        </div>
                        <div class="detail">
                            Violators in Zone, Check the perimeter
                        </div>
                        <div class="detail">
                            Gas Leakage in Alert Zone, Clear Premises
                        </div>
                    </aside>
                </section>


            </section>

            <section class="action-btn-container" (click)="saveSettings()">
                <button>Save</button>
            </section>
        </aside>

    </section>

</article>