@import "../mixin.scss";

.login-page {
    height: 100vh;
    position: relative;
    background-image: url(../../assets/bg1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center top;
    background-attachment: fixed;

    .login-container {
        z-index: 997;
        @extend align-center;

        .login-container-header {
            text-align: center;
            font-size: 23px;
            font-weight: bolder;
            color: #ffffff;
            margin-bottom: 60px;
        }

        .login-form {
            padding: 20px 32px;
            background: #ffffff;
            border-radius: 20px;
            color: #4a5a74;
            text-align: center;
            box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);

            .form-header-logo {
                position: absolute;
                width: 50%;
                top: 9%;
                left: 13%;
                img {
                    width: 30%;
                }
            }

            .form-header {
                margin-top: 12%;
                font-size: 18px;
                font-weight: bolder;
                text-transform: uppercase;
            }

            .input-section {
                border: 2px solid #4a5a74;
                position: relative;
                border-radius: 24px;
                width: 286px;
                margin: 28px auto 32px;
                .name {
                    position: absolute;
                    top: -8px;
                    left: 24px;
                    font-weight: bolder;
                    font-size: 12px;
                    background: #fff;
                    padding: 0px 4px;
                }
                input {
                    display: block;
                    padding: 0 20px;
                    margin: 0;
                    height: 42px;
                    width: 100%;
                    border: none;
                    border-radius: 24px;
                    outline: none;
                }
            }

            .submit-btn {
                width: 286px;
                height: 42px;
                border-radius: 24px;
                background: #4a5a74;
                font-weight: bolder;
                color: #ffffff;
                display: block;
                margin: auto;
                margin-bottom: 24px;
                outline: none;
                border: 2px solid #4a5a74;
                cursor: pointer;
            }

            .form-footer-logo {
                padding: 0;
                margin: 0 0 4px 0;
                img {
                    display: block;
                    height: 24px;
                    margin: auto;
                }
            }
        }
    }

    .copyrights {
        width: 100%;
        position: absolute;
        bottom: 0;
        text-align: right;
        font-size: 10px;
        font-weight: bolder;
        padding: 8px 16px;
        color: #ffffff;
        z-index: 997;
    }
}
