<article class="login-page">


    <section class="login-container">

        <header class="login-container-header">Let's get started now!</header>

        <form class="loginForm" #loginForm="ngForm" action="" (submit)="navigateToSecurePage()" autocomplete="off"
            method="POST">

            <aside class="login-form">

                <figure class="form-header-logo">
                    <img class="top-logo" src="../../assets/new icons/LOGO.svg">
                </figure>
                <header class="form-header">Smart Construction</header>

                <div class="input-section">
                    <label class="name">UserName</label>
                    <input type="text" name="username" id="" placeholder="Enter your UserName" [(ngModel)]="username">
                </div>

                <div class="input-section">
                    <label class="name">Password</label>
                    <input type="password" name="password" id="" placeholder="*******" [(ngModel)]="password">
                </div>

                <button class="submit-btn" type="submit" [disabled]="loginForm.invalid"
                    (click)="navigateToSecurePage()">Sign in</button>

                <footer class="form-footer-logo">
                    <img src="../../assets/new icons/Login Logos.svg" alt="">
                </footer>

            </aside>
        </form>

    </section>

    <footer class="copyrights">Smart Constructions © 2020</footer>

</article>

<app-overlay [showOverlayProp]="true"></app-overlay>

<!-- <form class="loginForm" #loginForm="ngForm" action="" (submit)="login()" autocomplete="off" method="POST">
    <div class="form-group">
        <label class="control-label" for="signupName">Email</label>
        <input type="email" class="form-control" name="username" placeholder="Email" [(ngModel)]="username" required>
    </div>
    <div class="form-group">
        <label class="control-label" for="signinPassword">Password</label>
        <input type="password" class="form-control" name="password" placeholder="Password" [(ngModel)]="password"
            required>
    </div>
    <div class="error"> {{ errMsg }} </div>
    <button type="submit" class="btn btn-lg btn-info btn-block btnlog" [disabled]="loginForm.invalid"
        (click)="login()">Login</button>
</form> -->