@import "../../mixin.scss";

.notification-details-non-critical {
    background: rgba(0, 0, 0, 0.2);
    height: 100vh;
    .image-and-details {
        width: fit-content;
        background: #4e4d4cd9;
        border-radius: 20px;
        max-width: calc(100% - 80px);
        @extend align-center;

        .close-btn {
            position: absolute;
            top: 20px;
            right: 20px;
            padding: 0;
            margin: 0;
            border: none;
            background: transparent;
            width: 40px;
            height: 40px;
            outline: none;
            cursor: pointer;
            i {
                font-size: 36px;
                color: #ffffff;
            }
        }

        .image-or-video {
            // height: calc(100vh - 80px);
            max-height: calc(100vh - 80px);
            max-width: calc(100% - 340px);
            padding: 0;
            margin: 0;
            float: left;
            vertical-align: top;
            padding: 40px 12px 40px 40px;
            img {
                // @extend align-center;
                display: block;
                max-width: 100%;
                // max-height: 100%;
                max-height: calc(100vh - 160px);
            }
        }
        .details {
            width: 300px;
            // height: calc(100vh - 80px);
            max-height: calc(100vh - 80px);
            min-height: 460px;
            padding: 40px 0px 40px 12px;
            float: left;
            vertical-align: top;
            // background: rgba(255, 255, 255, 0.3);

            .details-list {
                background: #6f6f6fa3;
                padding: 24px;
                border-radius: 20px;
                margin-bottom: 30px;
                ul {
                    padding: 0px;
                    margin: 0;
                    list-style: none;
                    margin-bottom: 24px;
    
                    li {
                        color: #ffffff;
                        margin-bottom: 16px;
                        .key-name {
                            font-size: 14px;
                            display: inline-block;
                            vertical-align: top;
                            width: 90px;
                            font-weight: bold;
                            margin-right: 10px;
                            line-height: 21px;
                        }
                        .value {
                            font-size: 14px;
                            display: inline-block;
                            vertical-align: top;
                            font-weight: bold;
                            width: calc(100% - 100px);
                            line-height: 21px;
                        }
                    }
    
                }

                
                .reporting-details {
                    border: 1px solid #ffffff;
                    border-radius: 8px;
                    color: #fff;
                    // display: inline-block;
                    padding: 8px;
                    h1, h2 {
                        padding: 0;
                        margin: 0;
                        font-size: 17px;
                        font-weight: 100;
                        line-height: 23px;
                    }
                }

            }

            .notify-btn {
                border-radius: 40px;
                height: 60px;
                background: #6f6f6fa3;
                font-size: 16px;
                font-weight: bold;
                color: #fff;
                cursor: pointer;
                border: none;
                outline: none;
                position: absolute;
                right: 39px;
                width: 288px;
                padding: 0;
                bottom: 39px;
            }

        }

        &:after {
            @extend clear-both-float;
        }
    }
}