<article class="notification-details-non-critical">

    <section class="image-and-details">

        <button class="close-btn" (click)="handleCloseNotificationDetailsPage()">
            <i class="material-icons">close</i>
        </button>

        <figure class="image-or-video" #imageOrVideo>
            <img src="../../../assets/images/{{notificationInfo.videoImage}}" alt="">
        </figure>


        <aside class="details">

            <div class="details-list">

                <ul>
                    <li *ngIf="notificationInfo.level">
                        <label class="key-name">Level</label>
                        <span class="value">{{notificationInfo.level}}</span>
                    </li>
                    <li *ngIf="notificationInfo.eventId">
                        <label class="key-name">Event ID</label>
                        <span class="value">{{notificationInfo.eventId}}</span>
                    </li>
                    <li *ngIf="notificationInfo.category">
                        <label class="key-name">Category</label>
                        <span class="value">{{notificationInfo.category}}</span>
                    </li>
                    <li *ngIf="notificationInfo.currentLocation">
                        <label class="key-name">Current Location</label>
                        <span class="value">{{notificationInfo.currentLocation}}</span>
                    </li>
                    <li *ngIf="notificationInfo.materialType">
                        <label class="key-name">Material Type</label>
                        <span class="value">{{notificationInfo.materialType}}</span>
                    </li>
    
                </ul>

                <footer class="reporting-details">
                    <h1>Site Supervisor</h1>
                    <h2>{{notificationInfo.siteSupervisor}}</h2>
                </footer>
            </div>
            
            <button class="notify-btn" (click)="handleCloseNotificationDetailsPage()">Notify Security</button>

        </aside>

    </section>

</article>