@import '../mixin.scss';

.live-events-page {

    .notification-details-layer {
        // position: absolute;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 998;
    }

    .live-events-header-menu {
        height: 50px;
        background: #d7def0;

        .drop-down {
            width: 126px;
            height: 28px;
            border: 1px solid #485973;
            border-radius: 40px;
            display: inline-block;
            padding: 0px 10px;
            color: #485973;
            margin: 12px 16px 0;
            position: relative;
            vertical-align: top;
            cursor: pointer;

            .name {
                vertical-align: top;
                line-height: 28px;
                font-size: 13px;
                font-weight: bold;
                cursor: pointer;
            }

            i {
                float: right;
                font-size: 18px;
                margin-top: 4px;
            }

            .drop-down-list {
                background: #ffffff;
                position: absolute;
                z-index: 998;
                display: none;
                padding: 0;
                margin: 0;
                top: 28px;
                left: 0;
                list-style: none;
                border-radius: 5px;
                box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.1);
                &.show {
                    display: block;
                }

                li {
                    cursor: pointer;
                    width: 124px;
                    
                    label {
                        padding: 10px;
                        display: block;
                        cursor: pointer;
                       
                        position: relative;
                        padding-left: 25px;
                        -webkit-user-select: none;
                        -moz-user-select: none;
                        -ms-user-select: none;
                        user-select: none;

                        
                        input {
                            margin-right: 8px;
                        } 
                        input {
                            // position: absolute;
                            opacity: 0;
                            cursor: pointer;
                            height: 0;
                            width: 0;
                          }
                          .custom-checkbox {
                            position: absolute;
                            top: 0;
                            left: 0;
                            height: 15px;
                            width: 15px;
                            border: 1px solid #485973;
                            background-color: #ffffff;
                            margin-top: 12px;
                            margin-left: 15px;
                            border-radius: 2px;
                          }
                          .custom-radio{
                            position: absolute;
                            top: 0;
                            left: 0;
                            height: 15px;
                            width: 15px;
                            border: 1px solid #485973;
                            background-color: #ffffff;
                            margin-top: 12px;
                            margin-left: 20px;
                            border-radius: 50%;
                          }
                          
                        input:checked ~ .custom-checkbox  {
                            background-color: #485973;
                          }  
                          input:checked ~ .custom-radio  {
                            background-color: #ffffff;
                          }  
                          input:checked ~ .custom-radio:after  {
                           display: block;
                          }  
                        //   .custom-checkbox :after,  input:not(:checked) ~  .custom-radio :after  {
                        //     content: "";
                        //     position: absolute;
                        //     display: none;
                        //   }  
                        //   input:not(:checked) ~  .custom-radio :after  {
                        //     content: "";
                        //     position: absolute;
                        //     display: none;
                        //     color: white;
                        //   }  
                         
                        //   input[type='checkbox']:checked ~ .custom-checkbox:after {
                        //     display: block;
                        //   }    
                          .custom-checkbox:after {
                            display: block;
                          
                            left: 9px;
                            top: 5px;
                            width: 5px;
                            height: 10px;
                            // border: solid black;
                            // border-width: 0 3px 3px 0;
                            -webkit-transform: rotate(6deg);
                            -ms-transform: rotate(6deg);
                            transform: rotate(6deg);
                            content: '\2713\0020';
                            color: white;
                            margin: -4px 1px;
                          }      
                          input:checked ~ .custom-radio:after {
                            content: "\25CF";
                            color: #485973;
                            margin: -7px 0px;
                            font-size: 22px;
                          }                   
                    }
                        
                    label:hover input ~ .custom-checkbox,   label:hover input ~ .custom-radio {
                        background-color: #485973;
                      }
                      label:hover input:not(:checked) ~ .custom-checkbox{
                        background-color: white;
                      }
                  
                }
                .sub-menu-drop-down{
                    position: relative;
                    display: inline-block;
                    .carot-icon{
                        position: absolute;
                        font-size: 17px;
                        top: 12px;
                    }
                    .dropdown-content {
                        display: none;
                        position: absolute;
                        background-color: #ffffff;
                        min-width: 160px;
                        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                        z-index: 1;
                            top: 35%;
                            left: 110%;
                            list-style: none;
                            padding: 0;
                            margin: 0;
                            cursor: default;
                        label {
                          
                            padding: 12px 16px;
                            text-decoration: none;
                            display: block;
                            cursor: pointer;

                            position: relative;
                            padding-left: 45px;
                            -webkit-user-select: none;
                            -moz-user-select: none;
                            -ms-user-select: none;
                            user-select: none;

                            input[type='checkbox'] {
                                position: absolute;
                                opacity: 0;
                                cursor: pointer;
                                height: 0;
                                width: 0;
                              }
                              .custom-checkbox {
                                position: absolute;
                                top: 0;
                                left: 0;
                                height: 15px;
                                width: 15px;
                                border: 1px solid #485973;
                                background-color: #ffffff;
                                margin-top: 12px;
                                margin-left: 20px;
                                border-radius: 2px;
                              }
                              
                            input[type='checkbox']:checked ~ .custom-checkbox  {
                                background-color: #485973;
                              }  
                              .custom-checkbox :after {
                                content: "";
                                position: absolute;
                                display: none;
                              }  
                            //   input[type='checkbox']:checked ~ .custom-checkbox:after {
                            //     display: block;
                            //   }    
                              .custom-checkbox:after {
                                display: block;
                              
                                left: 9px;
                                top: 5px;
                                width: 5px;
                                height: 10px;
                                // border: solid black;
                                // border-width: 0 3px 3px 0;
                                -webkit-transform: rotate(6deg);
                                -ms-transform: rotate(6deg);
                                transform: rotate(6deg);
                                content: '\2713\0020';
                                color: white;
                                margin: -4px 1px;
                              }       
                          }
                          &.show {
                            display: block;
                        }
                        label:hover input[type='checkbox'] ~ .custom-checkbox {
                            // background-color: #ccc;
                          }
                          label:hover input:not(:checked) ~ .custom-checkbox{
                            background-color: white;
                          }
                      }
                      
                      
                }
            }
        }
       
    }

    .live-events {
        // height: calc(100vh - 130px);
        // overflow: scroll;

        .live-track {
            width: calc(100% - 280px);
            height: 100%;
            position: relative;
            vertical-align: top;
            overflow: hidden;
            display: inline-block;

            .live-track-image {
                // width: 1024px;
                // height: 679px;
                position: relative;
                // width: calc(100% - 280px);
                height: 100%;
                padding: 4px;
                margin: auto;
                
                
                .track-point-list {
                    padding: 0;
                    margin: 0;
                    list-style: none;
                    .track-point {
                        width: 30px;
                        height: 30px;
                        position: absolute;
                        z-index: 9;
                        // border: 2px solid white;
                        cursor: pointer;
                        img {
                            width: 100%;
                        }
                        .info {
                            margin-left: 25px;
                            border: none;
                            border-radius: 10px;
                            padding: 8px;
                            line-height: 17px;
                            width: 345px;
                            top: 30%;
                            display: none;
                            position: absolute;
                            z-index: 997;
                            font-size: 12px;
                            line-height: 1.8;
                            padding: 15px;
                            i {
                                float: right;
                                line-height: 1px;
                                color: #0088cc;
                            }
                            address {
                                font-style: normal;
                            }
                            label {
                                color: #6f7b91;
                                font-size: 15px;
                                font-weight: 600;
                                margin-bottom: 8px;
                                display: block;
                            }
                            &.show {
                                display: block;
                                background: #ffffff;
                                border: 1px solid #c2b3b3;
                            }
                            &.arrow-top {
                                
                              }
                              &.arrow-left{
                                top: -35%;
                                left: 50%;
                              }
                              &.arrow-top:after {
                                content: " ";
                                position: absolute;
                                right: 30px;
                                top: -15px;
                                border-top: none;
                                border-right: 15px solid transparent;
                                border-left: 15px solid transparent;
                                border-bottom: 15px solid black;
                              }
                              &.arrow-right{
                                  right:140%;
                                  top: -35%;
                              }
                              &.arrow-bottom{
                                top: -460%;
                                left: -70%;
                              }
                              &.arrow-bottom-right{
                                top: -460%;                             
                                right: 8%;
                              }
                              &.arrow-right:after {
                                content: " ";
                                position: absolute;
                                right: -15px;
                                top: 15px;
                                border-top: 15px solid transparent;
                                border-right: none;
                                border-left: 15px solid white;
                                border-bottom: 15px solid transparent;
                              }
                              &.arrow-bottom:after {
                                content: " ";
                                position: absolute;
                                right: 98%;
                                bottom: -15px;
                                left: 7px;
                                border-top: 15px solid white;
                                border-right: 15px solid transparent;
                                border-left: 15px solid transparent;
                                border-bottom: none;
                              }

                              &.arrow-bottom-right:after {
                                content: " ";
                                position: absolute;
                                right: 1%;
                                bottom: -15px;
                                
                                border-top: 15px solid white;
                                border-right: 15px solid transparent;
                                border-left: 15px solid transparent;
                                border-bottom: none;
                              }
                              
                              &.arrow-left:after {
                                content: " ";
                                position: absolute;
                                left: -15px;
                                top: 15px;
                                border-top: 15px solid transparent;
                                border-right: 15px solid white;
                                border-left: none;
                                border-bottom: 15px solid transparent;
                              }
                        }
        
                        &.critical {
                            background: #e31e24;
                        }
                        &.warning {
                            background: #ee791c;
                        }
                        &.events {
                            background: #00a0e3;
                        }
        
                    }
                }
                
                .img-section {
                    height: 100%;
                    width: 100%;
                    display: block;
                    position: relative;
                    border: 1px solid #ddd;
                    border-radius: 4px;
                    // background: url("/assets/images/banner.jpg") no-repeat center;
                    // background-size: cover;

                    .track-image-header {
                        height: 40px;
                        i {
                            display: inline-block;
                            font-size: 18px;
                            color: red;
                            width: 40px;
                            height: 40px;
                            text-align: center;
                            line-height: 40px;
                            vertical-align: top;
                        }
                        label {
                            text-transform: uppercase;
                            font-weight: bold;
                            line-height: 40px;
                            color: #666;
                        }

                    }
                    
                    img {
                        width: 100%;
                        height: auto;
                        display: block;

                        &.green-scale {
                            filter: sepia(50%) saturate(5000%) hue-rotate(50deg);
                        }
                    }
                }
            }
        }
    
    
        .notification-list {
            width: 280px;
            height: 100%;
            padding: 4px;
            vertical-align: top;
            display: inline-block;
            overflow-y: scroll;

            .list {
                ul {
                    // height: calc(100vh - 178px);
                    overflow-y: scroll;
                    overflow-x: hidden;
                }
            }
    
        }
    
        
    }


}


