<article class="live-events-page" validate-click [clickItemOneClassNameProp]="'track-point-icon'" [clickItemTwoClassNameProp]="'list-item'" (clickedOutsideGiveElementEvent)="handleCloseSelectedNotification()">

    <header class="live-events-header-menu">

        <div class="drop-down" (click)="showDropdown('notifications')">
            <label class="name">Notifications</label>
            <i class="material-icons">expand_more</i>

            <ul class="drop-down-list" [class.show]="dropdownToShow === 'notifications'">
                <li *ngFor="let type of notificationTypeList | keyvalue; let i = index;">
                    <label for="{{type.key}}"><input type="checkbox" id="{{type.key}}" [checked]="true" 
                            (change)="onChangeNotificationType($event)" />
                           <span class="custom-checkbox"></span>
                            {{type.value.displayName}}</label>
                </li>
            </ul>

        </div>

        <div class="drop-down" (click)="showDropdown('resources')">
            <label class="name">Resources</label>
            <i class="material-icons">expand_more</i>

            <ul class="drop-down-list" [class.show]="dropdownToShow === 'resources'">
                <li *ngFor="let type of resourcesTypeList | keyvalue; let i = index;">
                    <label for="{{type.key}}"><input type="checkbox" id="{{type.key}}" [checked]="true"
                            (change)="onChangeResourceType($event)" />
                            <span class="custom-checkbox"></span>{{type.value.displayName}}
                        </label>
                </li>
            </ul>

        </div>

        <div class="drop-down" (click)="showDropdown('structure')">
            <label class="name">Structure</label>
            <i class="material-icons">expand_more</i>
            <ul class="drop-down-list" [class.show]="dropdownToShow === 'structure'">
                <li>
                    <label for="lidar"><input type="radio" name="structure" id="lidar" [checked]="false"
                        (change)="onChangeStructureType($event)" />Lidar
                        <span class="custom-radio"></span>

                    </label>
                </li>
                <li>
                    <label for="drone"><input type="radio" name="structure" id="drone" [checked]="true"
                        (change)="onChangeStructureType($event)" />
                        <span class="custom-radio"></span>
                        Drone</label>
                </li>
                <li>
                    <div class="sub-menu-drop-down">
                        <label for="3dModel"><input type="radio" name ="structure" id="3dModel" [checked]="false"
                            (change)="onChangeStructureType($event)">
                            3D Model
                            <span class="material-icons carot-icon">
                                play_arrow
                                </span>
                                <span class="custom-radio"></span>
                        </label>
                        <ul  class="dropdown-content" [class.show]="selectedStructureType === '3dModel'">
                            <li><label for="chkWalls"><input type="checkbox" id="chkWalls" [checked]="true" name="3dModel">Walls
                                <span class="custom-checkbox"></span>
                            </label>
                            </li>
                            <li><label for="chkElectrical"><input type="checkbox" id="chkElectrical" [checked]="true" name="3dModel">Electrical
                                <span class="custom-checkbox"></span>
                            </label></li>
                            <li><label for="chkPies"><input type="checkbox" id="chkPies" [checked]="true" name="3dModel">Pipes
                                <span class="custom-checkbox"></span></label></li>
                        </ul>
                    </div>
                  
                </li>
            </ul>
        </div>


    </header>

    <aside class="live-events">

        <!-- <label><img src="">LIVE TRACKING</label> -->

        <aside class="live-track">

            <section class="live-track-image">

                <!-- [style.left]="list.xCoordinate + 'px'" -->
                <!-- [style.top]="list.yCoordinate + 'px'" -->

                <!-- set-position [xCoordinate]="list.xCoordinate" [yCoordinate]="list.yCoordinate" 
                [trackImageProp]="trackImage" -->
                
                <ul class="track-point-list">
                    <li class="track-point" id="track_{{list.eventId}}" *ngFor="let list of filteredNotificationList; let i = index;"
                        [class.critical]="list.lastNotificationType === 'Critical'"
                        [class.warning]="list.lastNotificationType === 'Warning'"
                        [class.events]="list.lastNotificationType === 'Events'"  
                        [style.zIndex]="(list.eventId === selectedNotificationInTrackPoint.eventId) ? 998 : 997"
                        [style.top]="((list.yCoordinate | coordinateToPercentage:trackImage.naturalHeight) * 2.3) + '%'"
                        [style.left]="((list.xCoordinate | coordinateToPercentage:trackImage.naturalWidth) * 2.3) + '%'"

                        (click)="showTrackPointInfo('track_'+list.eventId,list)">
                        <img class="track-point-icon" id="track_point_{{list.eventId}}" src="./assets/Live Events/Notifications Icons/{{list.liveEventImageIcon}}">
                        <div class="info" [ngClass]="arrowTypeClass" [class.show]="list.eventId === selectedNotificationInTrackPoint.eventId" (click)="handleClickOnTrackPointInfo($event)">
                            <label>{{list.lastNotificationMessage}}</label>
                            <header>{{list.lineDescriptor1x}}</header>
                            <address>{{list.lineDescriptor2x}}</address>
                            <time>{{list.lineDescriptor3x}}</time>
                            <i class="material-icons" class="material-icons" (click)="showTrackPointDetailPage()">
                                info
                            </i>
                        </div>
                    </li>
                </ul>
                
                <div class="img-section">
                    <header class="track-image-header">
                        <i class="material-icons" class="material-icons">gps_fixed</i>
                        <label for="">Live tracking</label>
                    </header>
                    <img class="track-image" [class.green-scale]="selectedStructureType === 'lidar'" [src]="imgURL" alt="" #trackImage>
                </div>
            </section>

        </aside>


        <section class="notification-list" set-notfication-list-height [trackImageProp]="trackImage" 
            [style.height.px]="trackImage.clientHeight | setListHeight"  >
            <app-list [listHeaderNameProp]="'notifications'" [showExpandBtnProp]="true"
                [notificationListProp]="filteredNotificationList"
                [selectedNotificationInTrackPointProp]="selectedNotificationInTrackPoint"
                (selectedListItemToShowEvent)="handleSelectedListItemToShow($event)"
                (selectedListItemInfoIconEvent)="handleSelectedListItemInfoIcon($event)"></app-list>
        </section>

    </aside>

    <!-- <aside class="notification-details-layer" *ngIf="showNotificationDetailsPageType" [style.height.px]="(trackImage.clientHeight + 125) | setListHeight"> -->
    <aside class="notification-details-layer" *ngIf="showNotificationDetailsPageType">

        <div *ngIf="showNotificationDetailsPageType === 'Critical'">
            <app-notification-details
                [notificationInfoProp]="selectedNotificationInfo"
                (closeNotificationDetailsPageEvent)="handleCloseNotificationDetailsPage($event)"
            ></app-notification-details>
        </div>

        <div class="" *ngIf="showNotificationDetailsPageType !== 'Critical'">
            <app-notification-details-non-critical
                [notificationInfoProp]="selectedNotificationInfo"
                (closeNotificationDetailsPageEvent)="handleCloseNotificationDetailsPage($event)"
            ></app-notification-details-non-critical>
        </div>

    </aside>

    <!-- <app-overlay
        *ngIf="dropdownToShow || (selectedNotificationInTrackPoint && selectedNotificationInTrackPoint.eventId)"
        [overlayBGColorProp]="'transparent'" [showOverlayProp]="dropdownToShow || (selectedNotificationInTrackPoint && selectedNotificationInTrackPoint.eventId)"
        (onEscapeEvent)="handleEscapeEvent($event)" (onClickEvent)="handleClickEvent($event)"></app-overlay> -->
</article>

