@import "../../mixin.scss";

*::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

.activity-image-or-video {
    background: rgba(0, 0, 0, 0.2);
    height: 100vh;

    .image-video-container {
        width: fit-content;
        background: #4e4d4cd9;
        border-radius: 20px;
        max-width: calc(100% - 41px);
        height: calc(100% - 40px);
        z-index: 998;
        width: 100%;
        @extend align-center;

        .close-btn {
            position: absolute;
            top: 50px;
            right: 50px;
            padding: 0;
            margin: 0;
            border: none;
            background: transparent;
            width: 40px;
            height: 40px;
            outline: none;
            cursor: pointer;
            z-index: 1;
            i {
                font-size: 36px;
                color: #ffffff;
            }
        }

        .content {
            // @extend align-center;

            figure {
                padding: 0;
                margin: 0;
                padding: 40px;
                width: 100%;
                @extend align-center;
    
                img {
                    display: block;
                    max-width: 100%;
                    max-height: calc(100vh - 160px);
                    margin: auto;
                }
    
            }

        }


    }

}

.notification-details {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 998;
    background: rgba(0, 0, 0, 0.2);
    @extend align-center;

    

   

    .notification-details-container {
        background: #4e4d4cd9;
        width: calc(100% - 40px);
        height: auto;
        max-height: calc(100% - 40px);
        border-radius: 20px;
        padding: 42px;
        overflow: scroll;
        @extend align-center;

        .close-btn {
            position: absolute;
            top: 50px;
            right: 50px;
            padding: 0;
            margin: 0;
            border: none;
            background: transparent;
            width: 40px;
            height: 40px;
            outline: none;
            cursor: pointer;
            z-index: 1;
            i {
                font-size: 36px;
                color: #ffffff;
            }
        }
        .status-icon{
            font-size: 32px;
            color: #8BC34A;
            position: absolute;
            top: 18px;
            left: 19px;
            padding: 10px;
            z-index: 1;
        }
       

        .user-pic-details-and-score {
            margin-bottom: 40px;
            .user-pic {
                padding: 0;
                margin: 0;
                width: 180px;
                height: 180px;
                border-radius: 50%;
                display: inline-block;
                vertical-align: top;
                background: rgba(0, 0, 0, 0.2);
                margin-right: 42px;
                // margin-right: calc((100% - (180px + 250px + 180px + 280px)) / 3);
                img {
                    width: 100%;
                    margin: 0;
                }
            }

            .user-details {
                width: 250px;
                // height: 180px;
                padding: 0;
                margin: 0;
                list-style: none;
                color: #ffffff;
                display: inline-block;
                font-size: 18px;
                margin-right: 60px;
                // margin-right: calc((100% - (180px + 250px + 180px + 280px)) / 3);
                vertical-align: top;

                li {
                    line-height: 44px;
                    border-bottom: 1px solid #9d9e9e;
                    .key {
                        width: 100px;
                        display: inline-block;
                    }
                    .value {
                        display: inline-block;
                        width: calc(100% - 100px);
                    }
                }
            }

            .user-reporting {
                color: #ffffff;
                width: 200px;
                display: inline-block;
                vertical-align: top;
                margin-right: 55px;
                // margin-right: calc((100% - (180px + 250px + 180px + 280px)) / 3);

                .reporting-officer-details,
                .shift {
                    border: 1px solid #9d9e9e;
                    border-radius: 10px;
                    padding: 5px 16px;
                }

                .line1,
                .line2 {
                    padding: 0;
                    margin: 0;
                    font-size: 16px;
                    line-height: 30px;
                }
                .line2 {
                    font-weight: bolder;
                    &.name {
                        text-transform: uppercase;
                    }
                }

                .reporting-officer-details {
                    margin-bottom: 35px;
                }
            }

            .user-score {
                display: inline-block;
                vertical-align: top;
                .score {
                    text-align: center;
                    display: inline-block;
                    width: 140px;
                    vertical-align: top;
                    figure {
                        padding: 0;
                        margin: 0;
                        width: 110px;
                        height: 110px;
                        font-size: 65px;
                        font-weight: bolder;
                        border-radius: 50%;
                        color: #fff;
                        text-align: center;
                        line-height: 110px;
                        margin: 16px auto;
                        vertical-align: top;
                    }
                    label {
                        font-weight: bolder;
                        color: #ffffff;
                        font-size: 15px;
                    }
                    &.productivity {
                        figure {
                            background: #4d8311;
                        }
                    }
                    &.safty {
                        figure {
                            background: #bb6e29;
                        }
                    }
                }
            }
        }

        .violation-list-and-details {
            height: calc(100% - 246px);
            .violation-list {
                display: inline-block;
                vertical-align: top;
                width: 320px;
                height: 100%;
                margin-right: 32px;
                border-radius: 10px;
                background: rgba(255, 255, 255, 0.2);

                .list-header {
                    color: #fff;
                    background: #88888824;
                    padding: 16px;
                    border-radius: 10px;
                    text-transform: uppercase;
                }
                ul {
                    padding: 4px;
                    margin: 0;
                    list-style: none;
                    height: calc(100% - 54px);
                    overflow-y: auto;

                    li {
                        color: #ffffff;
                        padding: 16px 8px;
                        border-bottom: 1px solid #9d9e9e;
                        cursor: pointer;

                        &:hover,
                        &.active {
                            background: rgba(0, 0, 0, 0.2);
                        }

                        &:last-child {
                            border-bottom: none;
                        }
                        figure {
                            padding: 0;
                            margin: 0;
                            width: 36px;
                            height: 36px;
                            border-radius: 50%;
                            display: inline-block;
                            vertical-align: top;
                            margin-right: 8px;
                            background: #565656bf;
                            margin-top: 5px;
                            position: relative;
                            img {
                                width: 100%;
                                @extend align-center;
                            }
                        }

                        .details {
                            width: calc(100% - 46px);
                            display: inline-block;
                            vertical-align: top;
                            .category {
                                display: block;
                                line-height: 26px;
                                font-weight: bolder;
                                font-size: 16px;
                                cursor: pointer;
                            }
                            time {
                                display: block;
                                line-height: 18px;
                                font-size: 12px;
                            }
                        }
                    }
                }
            }

            .violation-details-and-track-points-actions {
                width: calc(100% - (320px + 32px));
                display: inline-block;
                vertical-align: top;
                .details {
                    background: #6f6f6fa3;
                    border-radius: 10px;
                    color: #fff;
                    font-size: 15px;
                    margin-bottom: 36px;
                    position: relative;

                    .column {
                        padding: 30px 30px 0px 30px;
                        margin: 0;
                        list-style: none;
                        width: calc(100% / 2);
                        float: left;
                        border-right: 1px solid #9d9e9e;
                        &._col2 {
                            border-right: none;
                        }
                        li {
                            // line-height: 40px;
                            margin-bottom: 24px;
                            .key-name {
                                width: 134px;
                                display: inline-block;
                                font-weight: bold;
                                vertical-align: top;
                            }
                            .value {
                                width: calc(100% - 134px);
                                display: inline-block;
                                font-weight: bold;
                                vertical-align: top;
                            }
                        }
                    }
                    
                    .mute-notification-indicator {
                        width: 32px;
                        height: 32px;
                        border-radius: 50%;
                        background: #4d8311;
                        position: absolute;
                        bottom: 24px;
                        right: 24px;
                        i {
                            line-height: 32px;
                            width: 100%;
                            text-align: center;
                        }
                    }

                    &::after {
                        @extend clear-both-float;
                    }
                }

                .activity-list {
                    padding: 0;
                    margin: 0;
                    list-style: none;
                    margin-bottom: 36px;

                    li {
                        display: inline-block;
                        position: relative;
                        height: 160px;
                        vertical-align: top;

                        figure {
                            padding: 0;
                            margin: 0;
                            border: 5px solid #ffffff;
                            width: 30px;
                            height: 30px;
                            background: skyblue;
                            border-radius: 50%;
                            @extend align-center;
                            z-index: 1;
                        }
                        p {
                            position: absolute;
                            top: unset;
                            bottom: 0;
                            text-align: center;
                            color: #ffffff;
                            width: 100%;
                        }
                        &:nth-child(odd) {
                            p {
                                top: 0;
                                bottom: unset;
                            }
                        }

                        &:first-child {
                            figure {
                                background: #ffffff;
                            }
                            &:after {
                                content: "";
                                display: none;
                            }
                        }

                        &:last-child {
                            figure {
                                background: red;
                                cursor: pointer;
                            }
                        }

                        &:after {
                            content: "";
                            width: 100%;
                            height: 2px;
                            background: #ffffff;
                            display: block;
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            margin: auto;
                            z-index: 0;
                            right: 50%;
                        }
                    }
                }

                .actions {
                    text-align: left;
                    button {
                        padding: 0;
                        margin: 0;
                        border-radius: 40px;
                        height: 60px;
                        width: 250px;
                        border: 1px solid #8c7979;
                        // border: 1px solid #4e4d4cd9;
                        background: rgba(255, 255, 255, 0.2);
                        font-size: 16px;
                        font-weight: bold;
                        color: #fff;
                        cursor: pointer;
                        margin-left: 75px;
                        border: 1px solid #929393;
                        outline: none;
                        &:last-child {
                            
                            margin-right: 75px;
                            float: right;
                        }
                    }
                }
            }
        }

    }
}
