<article class="notification-details">

  
    <section class="notification-details-container">

        <button class="close-btn" (click)="handleCloseNotificationDetailsPage()">
            <i class="material-icons">close</i>
        </button>
    
        <span class="material-icons status-icon">
            fiber_manual_record
        </span>

        <!-- <span class="indicator"></span> -->

        <header class="user-pic-details-and-score">

            <figure class="user-pic">
                <img src="./assets/images/{{notificationInfo.personPic}}" alt="">
            </figure>

            <ul class="user-details">
                <li>
                    <label class="key">Name</label>
                    <span class="value">{{notificationInfo.personName}}</span>
                </li>
                <li>
                    <label class="key">ID</label>
                    <span class="value">{{notificationInfo.personID}}</span>
                </li>
                <li>
                    <label class="key">Level</label>
                    <span class="value">{{notificationInfo.level}}</span>
                </li>
                <li>
                    <label class="key">Role</label>
                    <span class="value">{{notificationInfo.role}}</span>
                </li>
            </ul>

            <div class="user-reporting">
                <header class="reporting-officer-details">
                    <h2 class="line1 design">Supervisor</h2>
                    <h3 class="line2 name">{{notificationInfo.supervisor}}</h3>
                </header>

                <header class="shift">
                    <h2 class="line1">Shift</h2>
                    <h3 class="line2">{{notificationInfo.shift}}</h3>
                </header>
            </div>

            <div class="user-score">
                <aside class="score productivity">
                    <figure>{{notificationInfo.productityScore}}</figure>
                    <label>Productivity Score</label>
                </aside>
                <aside class="score safty">
                    <figure>{{notificationInfo.safetyScore}}</figure>
                    <label>Safety Score</label>
                </aside>
            </div>

        </header>

        <aside class="violation-list-and-details">

            <section class="violation-list" [style.height.px]="voilationDetailsAndTrackPoints.clientHeight">
                <header class="list-header">Past violations</header>
                <ul>
                    <li *ngFor="let violation of notificationInfo.pastViolations; let i = index;"
                        (click)="handleSelectVoilation(violation)"
                        [class.active]="selectedVoilation.eventId === violation.eventId">
                        <figure class="icon">
                            <img src="./assets/Live Events/Notifications Icons/{{violation.icon}}" alt="">
                        </figure>

                        <header class="details">
                            <label class="category">{{violation.category}}</label>
                            <time>{{violation.timeLapsed}}</time>
                        </header>
                    </li>
                </ul>
            </section>

            <section class="violation-details-and-track-points-actions" #voilationDetailsAndTrackPoints>

                <div class="details">
                    <ul class="column _col1">
                        <li>
                            <label class="key-name">Level</label>
                            <span class="value">{{selectedVoilation.level}}</span>
                        </li>
                        <li>
                            <label class="key-name">Event ID</label>
                            <span class="value">{{selectedVoilation.eventId}}</span>
                        </li>
                        <li>
                            <label class="key-name">Category</label>
                            <span class="value">{{selectedVoilation.category}}</span>
                        </li>
                        <li>
                            <label class="key-name">Job ID</label>
                            <span class="value">{{selectedVoilation.jobId}}</span>
                        </li>
                    </ul>
                    <ul class="column _col2">
                        <li>
                            <label class="key-name">Current Location</label>
                            <span class="value">{{selectedVoilation.currentLocation}}</span>
                        </li>
                        <li>
                            <label class="key-name">Time Lapsed</label>
                            <span class="value">{{selectedVoilation.timeLapsed}}</span>
                        </li>
                        <li>
                            <label class="key-name">Status</label>
                            <span class="value">{{selectedVoilation.status}}</span>
                        </li>
                    </ul>
                    <span class="mute-notification-indicator" *ngIf="muteNotificationStatus">
                        <i class="material-icons">done</i>
                    </span>
                </div>

                <!-- <div class="activity-list"> -->
                <ul class="activity-list">
                    <li *ngFor="let voilationActivity of selectedVoilationActivityList; let i = index;"
                        [style.width]="sanitizer.bypassSecurityTrustStyle('calc(100% / ' + selectedVoilationActivityList.length)">
                        <figure class="point" *ngIf="selectedVoilationActivityList.length !== i"></figure>
                        <figure class="point" *ngIf="selectedVoilationActivityList.length - 1 === i" (click)="showViolationActivityImageOrVideo()"></figure>
                        <p>{{voilationActivity}}</p>
                    </li>
                </ul>
                <!-- </div> -->

                <div class="actions">
                    <button (click)="handlShowMuteNotification()">{{(muteNotificationStatus) ? 'Unmute Notification' : 'Mute Notification'}}</button>
                    <button (click)="handleCloseNotificationDetailsPage()">Send Alert</button>
                </div>

            </section>

        </aside>



    </section>
   
    
</article>

<section class="activity-image-or-video" *ngIf="showVoilationActivityImageOrVideo">

    <div class="image-video-container">
        <button class="close-btn" (click)="closeVoilationActivityImageOrVideo()">
            <i class="material-icons">close</i>
        </button>

        <aside class="content">
            <figure>
                <img src="../../../assets/images/{{showVoilationActivityImageOrVideo}}" alt="">
            </figure>
        </aside>
    </div>

</section>