align-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

clear-both-float {
    content: '';
    display: block;
    clear: both;
}

no-scrollbar {
    &::-webkit-scrollbar {
        width: 0px;  /* Remove scrollbar space */
        background: transparent;  /* Optional: just make scrollbar invisible */
    }
    /* Optional: show position indicator in trasparent */
    &::-webkit-scrollbar-thumb {
        background: transparent;
    }
}

x2-scroller {
    *::-webkit-scrollbar {
        width: 2px !important;
        background: rgba(0, 0, 0, 0.2);
    }
    *::-webkit-scrollbar {
        width: 2px !important;
        height: 2px !important;
        background: rgba(0, 0, 0, 0.2);
    }
}

border-bottom {
    border-bottom: solid 1px #E6E6F0;
}

ellipse {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
::-webkit-scrollbar {
    width: 3px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}