@import '../mixin.scss';

.list {
    border: 1px solid #dddddd;
    border-radius: 5px;
    background: #fff;

    .list-header {
        height: 36px;
        line-height: 36px;
        text-transform: uppercase;
        font-weight: bold;
        background: #485973;
        color: #fff;
        border-radius: 4px 4px 0px 0px;
        padding: 0 12px;
        font-size: 12px;
        text-align: center;
    }
    .list-header-top-actions{
        background: #677da3;
    }
    .list-header-top-incidents{
        background: #008dd2;
    }

    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        height: calc(100% - 36px);

        .list-item {
            // height: 36px;
            border-radius: 4px;
            background: #e9edec;
            margin: 4px;
            padding: 13px 8px;
            border: 1px solid #e0e2e1;
            cursor: pointer;
            &.active{
                background-color: #68758d;;
               
            }
            &.active .material-icons{
                float: right;
                margin-top: -20px;
                font-size: 20px;
                 color: #fff;
            }
            &.active .list-item-name{
                color: #fff!important;
            }
            .img-name-and-btn {

                cursor: pointer;
                .list-item-image {
                    padding: 0;
                    margin: 0;
                    width: 24px;
                    height: 24px;
                    border-radius: 50%;
                    background: #485973;
                    float: left;
                    margin-right: 8px;

                    img {
                        width: 100%;
                    }

                    &.critical {
                        background: #e31e24;
                    }
                    &.warning {
                        background: #ee791c;
                    }
                    &.events {
                        background: #00a0e3;
                    }
                }
    
                .list-item-name {
                    font-weight: bolder;
                    color: #5c6566;
                    font-size: 12px;
                    height: 20px;
                    line-height: 24px;

                    width: 185px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    // display: inline-block;
                }
    
                .expand-collapse {
                    padding: 0;
                    margin: 1px 0 0 0;
                    border: none;
                    border-radius: 50%;
                    width: 18px;
                    height: 18px;
                    background: #485973;
                    color: #fff;
                    font-size: 18px;
                    float: right;
                    display: none;
                    outline: none;
                    cursor: pointer;
                    i {
                        font-size: 18px;
                    }
                    &.show {
                        display: inline-block;
                    }
                }
    
                &:after {
                    @extend clear-both-float;
                }

            }

            .list-item-info {
                display: none;
                font-size: 11px;
                margin-top: 5px;
                color: #5c6566;
                margin-left: 25px;
                line-height: 1.8;
                position: relative;

                i {
                    color: #0088cc;
                    float: right;
                    line-height: 1px;
                    position: absolute;
                    bottom: 10px;
                    right: -2px;
                }

                &.show {
                    display: block;
                }

                header {
                    font-weight: 600;
                    margin-bottom: 4px;
                }

                address {
                    font-weight: 600;
                    margin-bottom: 4px;
                    font-style: normal;
                }

                time {
                    font-weight: 600;
                }
                .custom-icon{
                    cursor: pointer;
                }

            }

        }
        
    }

}