<article class="list">

    <header class="list-header" [ngClass]="{'list-header-top-actions': headerColorProp==='AnalyticsTopActions', 
    'list-header-top-incidents': headerColorProp==='AnalyticsTopIncidents'}">{{listHeaderNameProp}}</header>

    <ul *ngIf="notificationListProp && notificationListProp.length">

        <li class="list-item" id='{{list.eventId}}' *ngFor="let list of notificationListProp; let i = index;"
            (click)="handleClickOnListItem(list, i)">

            <section class="img-name-and-btn">

                <figure class="list-item-image" [class.critical]="list.lastNotificationType === 'Critical'"
                    [class.warning]="list.lastNotificationType === 'Warning'"
                    [class.events]="list.lastNotificationType === 'Events'">
                    <img src="./assets/Live Events/Notifications Icons/{{list.liveEventNotificationIcon}}">

                </figure>

                <!-- - {{list.lastNotificationType}} - {{list.resourceType}} -->
                <label class="list-item-name">{{list.lastNotificationMessage}}</label>

                <button class="expand-collapse" [class.show]="showExpandBtnProp && selectedListItem.eventId != list.eventId">
                    <i class="material-icons">keyboard_arrow_down</i>
                </button>
                <button class="expand-collapse" [class.show]="showExpandBtnProp && selectedListItem.eventId === list.eventId">
                    <i class="material-icons">keyboard_arrow_up</i>
                </button>

            </section>

            <section class="list-item-info" [class.show]="selectedListItem.eventId === list.eventId" title="selected:: {{selectedListItem.eventId}} --- list-item:: {{list.eventId}} ==> {{selectedListItem.eventId === list.eventId}}">
                <header>{{list.lineDescriptor1x}}</header>
                <address>{{list.lineDescriptor2x}}</address>
                <time>{{list.lineDescriptor3x}}</time>
                <i class="material-icons" (click)="handleClickOnInfoIcon($event)">info</i>
            </section>

        </li>

    </ul>

    <ul *ngIf="alertListProp && alertListProp.length">

        <li class="list-item" id="{{list.alertId}}" *ngFor="let list of alertListProp; let i = index;"
            (click)="handleClickOnListItem(list, i)">

            <section class="img-name-and-btn">

                <figure class="list-item-image warning">
                    <img src="./assets/Sensor Alerts/{{list.sensorNotificationIcon}}">
                </figure>

                <label class="list-item-name">{{list.lastAlertMessage}}</label>

                <!-- <button class="expand-collapse" *ngIf="showExpandBtnProp">
                    <i class="material-icons">keyboard_arrow_down</i>
                </button> -->
                <button class="expand-collapse" [class.show]="showExpandBtnProp && selectedListItem.alertId != list.alertId">
                    <i class="material-icons">keyboard_arrow_down</i>
                </button>
                <button class="expand-collapse" [class.show]="showExpandBtnProp &&  selectedListItem.alertId === list.alertId">
                    <i class="material-icons">keyboard_arrow_up</i>
                </button>

            </section>

            <section class="list-item-info" [class.show]="selectedListItem.alertId === list.alertId">
                <header>{{list.lineDescriptor1x}}</header>
                <address>{{list.lineDescriptor2x}}</address>
                <time>{{list.lineDescriptor3x}}</time>
                <!-- <i class="material-icons" class="material-icons">
                    info
                </i> -->
            </section>

        </li>

    </ul>

    <ul *ngIf="operationListProp && operationListProp.length">

        <li class="list-item" id={{list.jobId}} *ngFor="let list of operationListProp; let i = index;"
            (click)="handleClickOnListItem(list, i)">

            <section class="img-name-and-btn">

                <figure class="list-item-image warning">
                    <img src="./assets/Operations/{{list.operationNotificationIcon}}">
                </figure>

                <label class="list-item-name">{{list.jobDetails || list.lastAlertMessage}}</label>

                <!-- <button class="expand-collapse" *ngIf="showExpandBtnProp">
                    <i class="material-icons">keyboard_arrow_down</i>
                </button> -->
                <button class="expand-collapse" [class.show]="showExpandBtnProp && selectedListItem.jobId != list.jobId">
                    <i class="material-icons">keyboard_arrow_down</i>
                </button>
                <button class="expand-collapse" [class.show]="showExpandBtnProp &&  selectedListItem.jobId === list.jobId">
                    <i class="material-icons">keyboard_arrow_up</i>
                </button>
            </section>

            <section class="list-item-info" [class.show]="selectedListItem.jobId === list.jobId">
                <header>{{list.lineDescriptor1x}}</header>
                <address>{{list.lineDescriptor2x}}</address>
                <time>{{list.lineDescriptor3x}}</time>
                <!-- <span *ngIf="list.jobDetails.indexOf('Stadium')!=-1">
                    <i class="material-icons custom-" (click)="handleClickOnInfoIcon($event)">
                        info
                    </i>
                </span> -->
            </section>

        </li>

    </ul>

    <ul *ngIf="dummyListProp && dummyListProp.length">

        <li class="list-item" *ngFor="let list of dummyListProp; let i = index;"
            (click)="handleClickOnListItem(list, i)" [class.active]="isUtilitiesProp==true && i==0">

            <section class="img-name-and-btn">

                <figure class="list-item-image">
                    <img src="./assets/new icons/TOP INCIDENTS/{{list.utilizationNotificationIcon}}">
                </figure>

                <label class="list-item-name">{{list.details}}</label>

                <!-- <button class="expand-collapse" *ngIf="showExpandBtnProp">
                    <i class="material-icons">keyboard_arrow_down</i>
                </button> -->

            </section>
            <span class="material-icons" *ngIf="isUtilitiesProp==true && i==0">
                play_arrow
            </span>
            <section class="list-item-info" [class.show]="selectedListItem === list">
                <header>Job ID: DRL21341</header>
                <address>Current location: Close to Excavator, Level 1, Zone 2</address>
                <time>Time Lapsed: 20 sec</time>
            </section>


        </li>

    </ul>


    <ul *ngIf="other">

        <li class="list-item"
            *ngFor="let list of [1, 2, 3, 4, 5, 6, 7, 8, 9 , 10, 11, 12, 13, 14, 15, 16]; let i = index;"
            (click)="handleClickOnListItem(list, i)">

            <section class="img-name-and-btn">

                <figure class="list-item-image">

                </figure>

                <label class="list-item-name">List item name</label>

                <button class="expand-collapse" [class.show]="showExpandBtnProp">
                    <i class="material-icons">keyboard_arrow_down</i>
                </button>

            </section>

            <section class="list-item-info" [class.show]="selectedListItem === list">
                <header>Job ID: DRL21341</header>
                <address>Current location: Close to Excavator, Level 1, Zone 2</address>
                <time>Time Lapsed: 20 sec</time>
            </section>


        </li>

    </ul>


</article>