@import "../mixin.scss";

.sensor-alerts-page {
    .sensor-alerts-header-menu {
        height: 50px;
        background: #d7def0;

        .checkbox-list {
            padding: 0;
            margin: 0;
            height: 50px;
            line-height: 50px;
            margin-left: 16px;
            li {
                display: inline-block;
                margin-right: 32px;
                vertical-align: top;
                label {
                    vertical-align: top;
                    color: #4871af;
                    font-weight: bold;
                    font-size: 13px;

                    position: relative;
                    padding-left: 25px;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;


                    
                    input {
                        // position: absolute;
                        opacity: 0;
                        cursor: pointer;
                        height: 0;
                        width: 0;
                      }
                      .custom-checkbox {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 15px;
                        width: 15px;
                        border: 1px solid #485973;
                        background-color: #fff;
                        margin-top: 0px;
                        margin-left: 10px;
                        border-radius: 2px;
                      }
                      input:checked ~ .custom-checkbox  {
                        background-color: #485973;
                      }  
                      .custom-checkbox:after {
                        display: block;
                      
                        left: 9px;
                        top: 5px;
                        width: 5px;
                        height: 10px;
                        // border: solid black;
                        // border-width: 0 3px 3px 0;
                        -webkit-transform: rotate(6deg);
                        -ms-transform: rotate(6deg);
                        transform: rotate(6deg);
                        content: '\2713\0020';
                        color: white;
                        margin: -18px 3px;
                      }      
                }
                label:hover input ~ .custom-checkbox {
                    background-color: #485973;
                  }
                  label:hover input:not(:checked) ~ .custom-checkbox{
                    background-color: white;
                  }
            }
        }
    }

    .sensor-alerts {
        // height: calc(100vh - 130px);

        .sensor-alerts-live-track {
            width: calc(100% - 280px);
            height: 100%;
            position: relative;
            display: inline-block;
            vertical-align: top;
            overflow: hidden;

            .sensor-alerts-track-image {
                // width: 1024px;
                // height: 679px;
                position: relative;
                // width: calc(100% - 280px);
                // height: 100%;
                padding: 4px;
                margin: auto;
        
    
                .track-point-list {
                    padding: 0;
                    margin: 0;
                    list-style: none;
                    .track-point-icon {
                        width: 30px;
                        height: 30px;
                        position: absolute;
                        z-index: 9;
                        // border: 2px solid white;
                        cursor: pointer;
                        img {
                            width: 100%;
                        }
                        .info {
                            margin-left: 25px;
                            border: none;
                            border-radius: 10px;
                            padding: 15px;
                            line-height: 1.8;
                            width: 300px;
                            top: 30%;
                            display: none;
                            position: absolute;
                            z-index: 997;
                            font-size: 12px;
                            i {
                                float: right;
                                line-height: 1px;
                                color: #0088cc;
                            }
                            label {
                                color: #6f7b91;
                                font-size: 15px;
                                font-weight: 600;
                                margin-bottom: 8px;
                                display: block;
                            }
                            &.show {
                                display: block;
                                background: #ffffff;
                                border: 1px solid #c2b3b3;
                            }
                            &.arrow-top {
                                
                            }
                            &.arrow-left{
                              top: -70%;
                              left: 50%;
                            }
                            &.arrow-top:after {
                              content: " ";
                              position: absolute;
                              right: 30px;
                              top: -15px;
                              border-top: none;
                              border-right: 15px solid transparent;
                              border-left: 15px solid transparent;
                              border-bottom: 15px solid black;
                            }
                            &.arrow-right{
                                right: 150%;
                                top: -70%;
                            }
                            &.arrow-bottom{
                                top: -580%;
                                left: -130%;
                            }
                            &.arrow-bottom-right{
                              top: -460%;                             
                              right: 8%;
                            }
                            &.arrow-right:after {
                              content: " ";
                              position: absolute;
                              right: -15px;
                              top: 15px;
                              border-top: 15px solid transparent;
                              border-right: none;
                              border-left: 15px solid white;
                              border-bottom: 15px solid transparent;
                            }
                            &.arrow-bottom:after {
                              content: " ";
                              position: absolute;
                              right: 98%;
                              bottom: -15px;
                              left: 7px;
                              border-top: 15px solid white;
                              border-right: 15px solid transparent;
                              border-left: 15px solid transparent;
                              border-bottom: none;
                            }

                            &.arrow-bottom-right:after {
                              content: " ";
                              position: absolute;
                              right: 1%;
                              bottom: -15px;
                              
                              border-top: 15px solid white;
                              border-right: 15px solid transparent;
                              border-left: 15px solid transparent;
                              border-bottom: none;
                            }
                            
                            &.arrow-left:after {
                              content: " ";
                              position: absolute;
                              left: -15px;
                              top: 15px;
                              border-top: 15px solid transparent;
                              border-right: 15px solid white;
                              border-left: none;
                              border-bottom: 15px solid transparent;
                            }
                        }

                        &.critical {
                            background: #e31e24;
                        }
                        &.warning {
                            // background: #ee791c;
                        }
                        &.events {
                            background: #00a0e3;
                        }
                    }
                }

                .img-section {
                    height: 100%;
                    width: 100%;
                    position: relative;
                    border: 1px solid #ddd;
                    border-radius: 4px;
                    // background: url("/assets/images/banner.jpg") no-repeat center;
                    // background-size: cover;

                    .track-image-header {
                        height: 40px;
                        i {
                            display: inline-block;
                            font-size: 18px;
                            color: red;
                            width: 40px;
                            height: 40px;
                            text-align: center;
                            line-height: 40px;
                            vertical-align: top;
                        }
                        label {
                            text-transform: uppercase;
                            font-weight: bold;
                            line-height: 40px;
                            color: #666;
                        }

                    }
                    
                    img {
                        width: 100%;
                        height: auto;
                        display: block;
                    }
                }
            }
        }

        .notification-list {
            width: 280px;
            height: 100%;
            padding: 4px;
            vertical-align: top;
            display: inline-block;
            overflow-y: scroll;
            min-height: calc(100vh - 178px) !important;

            .list {
                ul {
                    // max-height: calc(100vh - 178px);
                    overflow-y: auto;
                    overflow-x: hidden;
                }
            }

        }

        &:after {
            @extend clear-both-float;
        }
    }
}
