<article class="sensor-alerts-page" validate-click [clickItemOneClassNameProp]="'track-point-icon'" [clickItemTwoClassNameProp]="'list-item'" (clickedOutsideGiveElementEvent)="handleCloseSelectedAlert()">

    <header class="sensor-alerts-header-menu">

        <ul class="checkbox-list">

            <li *ngFor="let deviceType of deviceTypeList | keyvalue; let i = index;">
                <label for="{{deviceType.key}}"><input type="checkbox" id="{{deviceType.key}}" [checked]="true"
                        (change)="onChangeDeviceType($event)" />{{deviceType.value.displayName}}
                        <span class="custom-checkbox"></span>
                    </label>
            </li>

        </ul>

    </header>

    <aside class="sensor-alerts">

        <aside class="sensor-alerts-live-track">

            <section class="sensor-alerts-track-image">

                <!-- [style.top]="list.xCoordinate + 'px'" [style.left]="list.yCoordinate + 'px'" -->
                <ul class="track-point-list">
                    <li class="track-point-icon warning" id="track_{{list.alertId}}"  *ngFor="let list of filteredAlertList; let i = index;"
                        [style.zIndex]="(list.alertId === selectedAlertInTrackPoint.alertId) ? 998 : 997" 
                        [style.top]="((list.yCoordinate | coordinateToPercentage:trackImage.naturalHeight) * 2.3) + '%'"
                        [style.left]="((list.xCoordinate | coordinateToPercentage:trackImage.naturalWidth) * 2.3) + '%'"
                        (click)="showTrackPointInfo('track_'+list.alertId,list)">
                        <img class="track-point-icon" id="track_point_{{list.alertId}}" src="./assets/Sensor Alerts/{{list.sensorImageIcon}}">
                        <div class="info" [ngClass]="arrowTypeClass" [class.show]="list.alertId === selectedAlertInTrackPoint.alertId">
                            <label>{{list.lastAlertMessage}}</label>
                            <header>{{list.lineDescriptor1x}}</header>
                            <header>{{list.lineDescriptor2x}}</header>
                            <time>{{list.lineDescriptor3x}}</time>
                            <!-- <i class="material-icons" class="material-icons">
                                info
                            </i> -->
                        </div>
                    </li>
                </ul>

                <div class="img-section">

                    <header class="track-image-header">
                        <i class="material-icons" class="material-icons">gps_fixed</i>
                        <label for="">Live tracking</label>
                    </header>
                    
                    <img class="track-image" src="../../assets/images/banner.jpg" alt="" #trackImage>
                    
                </div>

            </section>

        </aside>


        <section class="notification-list" set-notfication-list-height [trackImageProp]="trackImage"
            [style.height.px]="trackImage.clientHeight | setListHeight" >
            <app-list [listHeaderNameProp]="'Alerts'" 
                [showExpandBtnProp]="true" 
                [alertListProp]="filteredAlertList"
                [selectedAlertInTrackPointProp]="selectedAlertInTrackPoint"
                (selectedListItemToShowEvent)="handleSelectedListItemToShow($event)">
        </app-list>
        </section>

    </aside>


</article>