@import "../mixin.scss";

.analytics {
    .analytics-progress {
        // position: absolute;
        display: block;
        width: 100%;
        // margin-top: 1%; // if graph need to comment
        // height: 135px; // if graph need to comment
        background: #f1f1f1;
        img {
            width: 100%;
            padding: 8px; // if graph need to comment
        }
        .progress-bar {
            // height: 100px;
            display: inline-block;
            background: #fff;
            width: calc(100% / 8);
            position: relative;
            margin: 1.5% 0 1.5% 1.5%;
            border-radius: 7px;
            border: 1px solid #dddddd;
            vertical-align: top;
            label {
                display: block;
                color: #7e91b1;
                font-size: 9px;
                padding: 3px;
                @extend ellipse;
            }
            // .screen {
            //     width: calc((100% / 2) - 1px );
            //     float: left;
            // }
        }
    }

    .analytics-bar {
        background-color: #f1f1f1;
        .split-screen {
            margin-bottom: 7px;
            height: 307px;
            .screen {
                height: 100%;
                width: calc((100% / 3) - 1px);
                float: left;
                img {
                    height: 100%;
                    width: 100%;
                }
                &:first-child {
                    width: calc((100% - 50px) / 2);
                    // border-right: 1px solid #dddddd;
                }
                &:nth-child(2) {
                    width: calc((100% - 480px) / 2);
                    border-top: 1px solid #dddddd;
                    border-right: 1px solid #dddddd;
                    border-bottom: 1px solid #dddddd;
                }
                &:nth-child(3) {
                    width: 260px;
                }

                .list {
                    height: 308px;
                    overflow: hidden;
                    ul {
                        height: 304px;
                        overflow-y: scroll;
                        overflow-x: hidden;
                    }
                }
            }

            &::after {
                @extend clear-both-float;
            }
        }
    }
}
