<article class="analytics">
    <div class="analytics-progress">
        <!-- <div class="progress-bar">
            <label>Schedule</label>
            <hr />
            <app-progress-chart></app-progress-chart>
        </div>
        <div class="progress-bar">
            <label>Phases</label>
            <hr />
            <app-progress-chart></app-progress-chart>
        </div>
        <div class="progress-bar">
            <label>Budget</label>
            <hr />
            <app-progress-chart></app-progress-chart>
        </div>
        <div class="progress-bar">
            <label>Resource Utilization</label>
            <hr />
            <app-progress-chart></app-progress-chart>
        </div>
        <div class="progress-bar">
            <label>Equipment Utilization</label>
            <hr />
            <app-progress-chart></app-progress-chart>
        </div>
        <div class="progress-bar">
            <label>Material Matrix</label>
            <hr />
            <app-progress-chart></app-progress-chart>
        </div>
        <div class="progress-bar">
            <label>Projected Launch Date</label>
            <hr />
            <app-progress-chart></app-progress-chart>
        </div> -->
        <img src="./assets/images/progress.png">
    </div>
    <div class="analytics-bar">

        <section class="split-screen">

            <aside class="screen">
                <img src="./assets/images/line1.png">
                <!-- <app-line-chart [dataProp]="labelData"></app-line-chart> -->
                <!-- <app-line-chart></app-line-chart> -->
            </aside>

            <aside class="screen">
                <app-bar-chart></app-bar-chart> 
            </aside>

            <aside class="screen">
                <app-list [listHeaderNameProp]="'TOP ACTIONS'" [showExpandBtnProp]="false" [dummyListProp]="topActions"
                headerColorProp="AnalyticsTopActions"
                ></app-list>
            </aside>

        </section>
        <section class="split-screen">

            <aside class="screen">
                <img src="./assets/images/line2.png">

                <!-- <app-line-chart></app-line-chart> -->
            </aside>

            <aside class="screen">
                <app-bar-chart [barMultiDataProp]= "true"></app-bar-chart> 
            </aside>

            <aside class="screen">
                <app-list [listHeaderNameProp]="'TOP INCIDENTS'" [showExpandBtnProp]="false" [dummyListProp]="topIncidents"
                headerColorProp="AnalyticsTopIncidents"
                ></app-list>
            </aside>

        </section>

    </div>

</article>