<article class="utilization">
    <div class="utilization-progress">
        <!-- <div class="progress-bar">
            <label>Resource Utilization</label>
            <hr />
            <app-progress-chart></app-progress-chart>
        </div>
        <div class="progress-bar">
            <label>Equipment Utilization</label>
            <hr />
            <app-progress-chart></app-progress-chart>
        </div>
        <div class="progress-bar">
            <label>Material Utilization</label>
            <hr />
            <app-progress-chart></app-progress-chart>
        </div> -->
        <img src="./assets/images/Utilization.png">
    </div>
    <div class="bar-section">
        <div class="drop-down">
            <label class="name">May 2020</label>
            <i class="material-icons">expand_more</i>
        </div>
        <div class="chart-section">

            <app-bar-chart [utilizationProp]="true"></app-bar-chart>


        </div>
        <br>
        <div class="split left">
            <aside class="notification-list">
                <app-list [listHeaderNameProp]="'TOP INCIDENTS'" [showExpandBtnProp]="false" [isUtilitiesProp]="true"
                    [dummyListProp]="topIncidents"></app-list>
            </aside>
        </div>
        <div class="split right">
            <section class="incident-details">
                <div class="heading">
                    <div class="headline headline-first">

                        <span>P67458465</span>
                        <br>
                        <p>Incident ID</p>
                    </div>
                    <div class="headline">
                        <span>A Ground Floor</span>
                        <br>
                        <p>Zone</p>
                    </div>
                    <div class="headline">
                        <span>08-May-2020</span>
                        <br>
                        <p>Date</p>
                    </div>
                    <div class="headline">
                        <span>5:25PM</span>
                        <br>
                        <p>Time</p>
                    </div>
                    <div class="headline">
                        <span>24 Hrs</span>
                        <br>
                        <p>Delay</p>
                    </div>

                </div>
                <div class="details-section">
                    <section class="details">
                        <div class="row1">
                            <address>
                                <label class="first-part">New Job ID:</label>
                                <span class="value">P564321</span>
                            </address>
                            <address>
                                <label class="second-part">Duration:</label>
                                <span class="value">6 Hrs</span>
                            </address>
                        </div>
                        <div class="row1">
                            <!-- <span class="first-part"> -->
                                <address>
                                    <label class="first-part">Recommended Workers: </label>
                                    <span class="value">Ben, David, Gabrial, Mike, Alex</span>
                                </address>
                                <!-- <span class="data">Ben, David, Gabrial, Mike, Alex</span></span> -->
                                <address>
                                    <label class="second-part">Selected Workers:</label>
                                    <span class="value">Ben, David, Alex</span>
                                </address>
                            </div>
                            <div class="row1">
                                <address>
                                    <label class="first-part">Supervisor:</label>
                                    <span class="value">William Bell</span>
                                </address>
                                <address>
                                    <label class="second-part"></label>
                                    <span class="value"></span>
                            </address>
                        </div>
                    </section>
                    <section class="detail-img">
                        <img [src]="'../assets/images/InsidentDetails.PNG'">
                    </section>
                </div>
            </section>
        </div>

    </div>
</article>