@import '../mixin.scss';

.utilization {
    .utilization-progress {
        // position: absolute;
        display: block;
        width: 100%;
        // height: 135px;
        background: #f1f1f1;
        img {
            width: 40%;
        }
        .progress-bar {
            // height: 100px;
            display: inline-block;
            background: #fff;
            width: calc(100% / 8);
            position: relative;
            margin: 1.5% 0 1.5% 1.5%;
            border-radius: 7px;
            border: 1px solid #dddddd;
            vertical-align: top;
            label {
                display: block;
                color: #7e91b1;
                font-size: 9px;
                padding: 3px;
                // @extend ellipse;
            }
        }
    }
    .bar-section{
        padding: 20px;
        margin: 0px 20px 0px 20px;
        border: #00BCD4 1px solid;
        .drop-down {
            width: 120px;
            height: 28px;
            border: 1px solid #485973;
            border-radius: 40px;
            // display: inline-block;
            padding: 0px 10px;
            color: #485973;
            // margin: 12px 16px 0;
            cursor: pointer;
            float: right;
            .name {
                vertical-align: top;
                line-height: 28px;
                font-size: 12px;
                font-weight: bold;
                cursor: pointer;
            }

            i {
                float: right;
                font-size: 18px;
                margin-top: 4px;
            }
         }
        .chart-section{
           
            //  width:  calc((100% -200px) /2);


        }
        .split {
            // height: 100%;
            z-index: 1;
            top: 0;
            overflow-x: hidden;
            // padding-top: 20px;
          }
          .left {
            left: 0;
            width: 20%;
            display: inline-block;
            .notification-list {
                // width: 250px;
                height: 275px;
                // overflow: scroll;
                // padding: 4px;
                // vertical-align: top;
                .list {
                    height: 274px;
                    overflow: hidden;
                    ul {
                        height: 274px;
                        overflow-y: scroll;
                        overflow-x: hidden;
                    }
                }
            }
          }
          .right {
            right: 0;
            width: 79%;
            float: right;
            border: 1px solid  #c5cad2;
            border-radius: 5px;
          }
     .heading{
         width: 100%;
         margin-top: 20px;
         .headline{
            width: 19%;
            display: inline-block;
            // text-align: center;
            color: #485973
         }
         .headline-first
            {
                margin-left: 20px;
            }

         .headline span{
         font-size: 20px;
         font-weight: 600;
         }
         .headline p{
            font-weight: 600;
            color:#727271;
         }

     }
     .details-section{
         width: 100%;

         .details{
             width: 63%;
             float: left;
             color: #707070;
             .row1{
                margin-bottom: 10px;
                width: 95%;
                
                background-color: #e9edec;
                // padding: 15px 20px;
                margin-left: 20px;
                // margin-top: 10px;
                &:first-child {
                    margin-top: 0px;
                }
                address {
                    width: calc(100% / 2);
                    vertical-align: top;
                    display: inline-block;
                    padding: 15px 0px 15px 15px;
                    font: caption;
                    label {
                        font-weight: 600;
                        width: 132px;
                        vertical-align: top;
                        float: left;
                    }
                    span {
                        max-width: calc(100% - 132px);
                        font-weight: 600;
                        vertical-align: top;
                        float: left;
                    }

                    &:nth-child(2) {
                        padding: 15px 15px 15px 0px;
                    }

                }              
                .second-part{

                }

             }
         }
         .detail-img{
             width: 37%;
            right: 0;
            float:right;
         }
     }

    }
}