/* You can add global styles to this file, and also import other style files */

* {
	font-family: Roboto, Arial, sans-serif;
    font-weight: 400;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html body {
	padding: 0;
	margin: 0;
	font-size: 14px;
}

body.no-scroll {
	overflow-y: hidden;
}

