@import "../mixin.scss";

.operations-page {
    .operations-header-menu {
        height: 50px;
        background: #d7def0;

        .drop-down {
            width: 126px;
            height: 28px;
            border: 1px solid #485973;
            border-radius: 40px;
            padding: 0px 10px;
            color: #485973;
            margin: 12px 16px 0;
            float: right;
            text-align: center;
            cursor: pointer;

            .name {
                vertical-align: top;
                line-height: 28px;
                font-size: 13px;
                font-weight: bold;
                cursor: pointer;
            }
        }
    }

    .operations {
        // height: calc(100vh - 130px);

        .operations-live-track {
            width: calc(100% - 280px);
            height: 100%;
            position: relative;
            display: inline-block;
            vertical-align: top;
            overflow: hidden;

            .operations-track-image {
                // width: 1024px;
                // height: 679px;
                position: relative;
                // width: calc(100% - 280px);
                // height: 100%;
                padding: 4px;
                margin: auto;

                .track-point-list {
                    padding: 0;
                    margin: 0;
                    list-style: none;
                    .track-point {
                        // width: 24px;
                        // height: 24px;
                        position: absolute;
                        // border: 2px solid white;
                        z-index: 9;
                        cursor: pointer;
                        img {
                            width: 42px;
                            height: 42px;
                        }
                        .info {
                            margin-left: 20px;
                            border: none;
                            border-radius: 10px;
                            padding: 15px;
                            line-height: 1.8;
                            width: 345px;
                            top: 60%;
                            display: none;
                            position: absolute;
                            z-index: 997;
                            font-size: 12px;
                            i {
                                float: right;
                                line-height: 1px;
                                color: #0088cc;
                            }
                            address {
                                font-style: normal;
                            }
                            label {
                                color: #6f7b91;
                                font-size: 15px;
                                font-weight: 600;
                                margin-bottom: 8px;
                                display: block;
                            }
                            &.show {
                                display: block;
                                background: #ffffff;
                                // border: 1px solid black;
                            }
                            &.arrow-top {
                            }
                            &.arrow-left {
                                top: -30%;
                                left: 70%;
                            }
                            &.arrow-top:after {
                                content: " ";
                                position: absolute;
                                right: 30px;
                                top: -15px;
                                border-top: none;
                                border-right: 15px solid transparent;
                                border-left: 15px solid transparent;
                                border-bottom: 15px solid black;
                            }
                            &.arrow-right {
                                right: 130%;
                                top: -30%;
                            }
                            &.arrow-bottom {
                                top: -300%;
                                left: -50%;
                            }
                            &.arrow-bottom-right {
                                top: -300%;
                                right: 8%;
                            }
                            &.arrow-right:after {
                                content: " ";
                                position: absolute;
                                right: -15px;
                                top: 15px;
                                border-top: 15px solid transparent;
                                border-right: none;
                                border-left: 15px solid white;
                                border-bottom: 15px solid transparent;
                            }
                            &.arrow-bottom:after {
                                content: " ";
                                position: absolute;
                                right: 98%;
                                bottom: -15px;
                                left: 7px;
                                border-top: 15px solid white;
                                border-right: 15px solid transparent;
                                border-left: 15px solid transparent;
                                border-bottom: none;
                            }

                            &.arrow-bottom-right:after {
                                content: " ";
                                position: absolute;
                                right: 1%;
                                bottom: -15px;

                                border-top: 15px solid white;
                                border-right: 15px solid transparent;
                                border-left: 15px solid transparent;
                                border-bottom: none;
                            }

                            &.arrow-left:after {
                                content: " ";
                                position: absolute;
                                left: -15px;
                                top: 15px;
                                border-top: 15px solid transparent;
                                border-right: 15px solid white;
                                border-left: none;
                                border-bottom: 15px solid transparent;
                            }
                        }

                        &.critical {
                            // background: #e31e24;
                        }
                        &.warning {
                            // background: #ee791c;
                        }
                        &.events {
                            // background: #00a0e3;
                        }
                    }
                }

                .img-section {
                    height: 100%;
                    width: 100%;
                    position: relative;
                    border: 1px solid #ddd;
                    border-radius: 4px;
                    // background: url("/assets/images/banner.jpg") no-repeat center;
                    // background-size: cover;

                    .track-image-header {
                        height: 40px;
                        i {
                            display: inline-block;
                            font-size: 18px;
                            color: red;
                            width: 40px;
                            height: 40px;
                            text-align: center;
                            line-height: 40px;
                            vertical-align: top;
                        }
                        label {
                            text-transform: uppercase;
                            font-weight: bold;
                            line-height: 40px;
                            color: #666;
                        }
                    }

                    img {
                        width: 100%;
                        height: auto;
                        display: block;
                    }
                }
            }
        }

        .notification-list {
            width: 280px;
            height: 100%;
            padding: 4px;
            vertical-align: top;
            display: inline-block;
            overflow-y: scroll;
            min-height: calc(100vh - 178px) !important;

            .list {
                ul {
                    // max-height: calc(100vh - 178px);
                    overflow-y: auto;
                    overflow-x: hidden;
                }
            }
        }
    }
}

.shift-report-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 997;

    // .overlay {
    //     width: calc(100% - 24px);
    //     height: calc(100% - 24px);
    //     background: rgba(0, 0, 0, 0.4);
    //     -webkit-filter: blur(5px);
    //     border-radius: 30px;
    //     box-shadow: 0 0px 12px 0px rgba(0, 0, 0, 0.6);
    //     filter: blur(3px);
    //     @extend align-center;
    // }

    .shift-report {
        width: calc(100% - 52px);
        height: calc(100% - 20px);
        // background: #000000d9;
        // box-shadow: 0 0px 3px 8px #000000b0;
        background: #3e3d3bf0;
        border-radius: 20px;
        padding: 10px;
        color: #ffffff;
        z-index: 998;
        @extend align-center;

        .shift-report-header {
            font-size: 20px;
            font-weight: bolder;
            margin-bottom: 15px;
            // height: 32px;

            label {
                line-height: 32px;
                position: absolute;
                margin: 10px 0px 20px 20px;
            }

            button {
                border: none;
                padding: 0;
                margin: 0;
                width: 32px;
                height: 32px;
                background: transparent;
                color: #fff;
                float: right;
                cursor: pointer;
                outline: none;
            }
        }
        .detail-section {
            height: calc(100% - 75px);
            overflow-y: auto;
            .job-table {
                background: #868686bf;
                border: 1px solid #848484;
                border-radius: 8px;
                box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
                width: 100%;
                // height: calc(100% - 250px);
                // overflow-y: auto;
                height: calc(100% - 150px);
                overflow-y: hidden;
                @extend no-scrollbar;
                &.incident-table {
                    margin-top: 20px;
                    height: calc(100% - 328px);
                    // height: calc(100% - 400px);
                }
                table {
                    border-collapse: collapse;
                    width: 100%;
                    tr {
                        // width: 100%;
                        &:first-child {
                            height: 36px;
                            border-radius: 8px;
                            // background: #9f9f9f85;
                            box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
                            th {
                                // display: inline-block;
                                line-height: 50px;
                                font-size: 20px;
                                letter-spacing: 2px;
                                text-transform: uppercase;
                            }
                        }

                        th {
                            height: 100%;
                            background: #2f2f2f4a;
                            position: sticky;
                            top: 0;
                            &:first-child {
                                border-radius: 8px 0px 0px 8px;
                                width: 35%;
                            }
                            &:last-child {
                                border-radius: 0px 8px 8px 0px;
                                width: 30%;
                            }
                        }

                        td {
                            text-align: left;
                            &:first-child {
                                padding-left: 15px;
                                font-size: 17px;
                                div {
                                    margin: 2px 30px 2px 8px;
                                    .list-item-image {
                                        /* padding: 0; */
                                        margin: 0;
                                        width: 25px;
                                        height: 25px;
                                        border-radius: 50%;
                                        /* background: #485973; */
                                        float: left;
                                        margin-right: 8px;
                                        margin-left: 20px;
                                        margin-top: 6px;

                                        img {
                                            width: 100%;
                                        }
                                    }
                                }
                            }
                            &:first-child:after {
                                @extend clear-both-float;
                            }

                            div {
                                margin: 4px;
                                border-radius: 8px;
                                height: 50px;
                                line-height: 50px;
                                background: #9f9f9f54;
                                padding: 0 4px;
                                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                            }

                            &:nth-child(2),
                            &:nth-child(3),
                            &:nth-child(4) {
                                text-align: center;
                                div {
                                    margin: 0;
                                    border-radius: 0;
                                    position: relative;

                                    input {
                                        // position: absolute;
                                        opacity: 0;
                                        cursor: pointer;
                                        height: 0;
                                        width: 0;
                                    }

                                    .custom-radio {
                                        position: absolute;

                                        height: 22px;
                                        width: 22px;
                                        border: 2px solid #eee;
                                        background-color: #9f9f9f54;
                                        margin-top: 15px;
                                        border-radius: 50%;
                                    }

                                    //   input:checked ~ .custom-radio  {
                                    //     background-color: #9f9f9f54;
                                    //   }
                                    &.input:checked ~ .custom-radio:after {
                                        color: white;
                                    }
                                    &.input:not(:checked) ~ .custom-radio:after {
                                        color: #9f9f9f54;
                                    }

                                    input:checked ~ .custom-radio:after {
                                        display: block;
                                        content: "\25CF";
                                        color: white;
                                        margin: -18px 0px;
                                        font-size: 22px;
                                    }
                                }
                            }

                            &:nth-child(2) {
                                div {
                                    border-radius: 8px 0px 0px 8px;
                                }
                            }

                            &:nth-child(4) {
                                div {
                                    border-radius: 0px 8px 8px 0px;
                                    margin-right: 20px;
                                }
                            }
                        }
                    }
                }
            }
            .submit-section {
                float: right;
                button {
                    background: #868686bf;
                    border: 1px solid #848484;
                    padding: 10px 70px;
                    color: white;
                    border-radius: 15px;
                    margin: 10px;
                    font-size: 14px;
                    letter-spacing: 2px;
                    outline: none;
                }
            }
        }
    }
}
.notification-details-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    .notification-details {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 998;
        background: rgba(0, 0, 0, 0.3);
        @extend align-center;

        .notification-details-container {
            background: #3e3d3bf0;
            // width: calc(100% - 40px);
            // height: calc(100% - 15px);
            border-radius: 20px;
            padding: 52px;
            @extend align-center;

            .close-btn {
                position: absolute;
                top: 13px;
                right: 13px;
                padding: 0;
                margin: 0;
                border: none;
                background: transparent;
                width: 40px;
                height: 40px;
                outline: none;
                cursor: pointer;
                i {
                    font-size: 36px;
                    color: #ffffff;
                }
            }
            figure {
                padding: 0;
                margin: 0;
                img {
                    // margin: 0% 13% 0 13%;
                }
            }
        }
    }
}
