<article class="operations-page" validate-click [clickItemOneClassNameProp]="'track-point'"
    [clickItemTwoClassNameProp]="'list-item'" (clickedOutsideGiveElementEvent)="handleCloseSelectedOperation()">

    <header class="operations-header-menu">
        <div class="drop-down" (click)="handleClickShiftReport()">
            <label class="name">Shift Report</label>
        </div>
    </header>

    <aside class="operations">

        <aside class="operations-live-track">

            <section class="operations-track-image">

                <ul class="track-point-list">
                    <li class="track-point warning" id="track_{{list.jobId}}"
                        *ngFor="let list of operationList; let i = index;"
                        [style.zIndex]="(list.jobId === selectedOperationInTrackPoint.jobId) ? 998 : 997"
                        [style.top]="((list.yCoordinate | coordinateToPercentage:trackImage.naturalHeight) * 2.3) + '%'"
                        [style.left]="((list.xCoordinate | coordinateToPercentage:trackImage.naturalWidth) * 2.3) + '%'"
                        (click)="showTrackPointInfo('track_'+list.jobId,list)">
                        <img src="./assets/Operations/{{list.operationImageIcon}}">
                        <div class="info" [ngClass]="arrowTypeClass"
                            [class.show]="list.jobId === selectedOperationInTrackPoint.jobId">
                            <label>{{list.jobDetails}}</label>
                            <header>{{list.lineDescriptor1x}}</header>
                            <header>{{list.lineDescriptor2x}}</header>
                            <time>{{list.lineDescriptor3x}}</time>
                            <span *ngIf="list.jobDetails.indexOf('Stadium')!=-1">
                                <i class="material-icons custom-" (click)="showTrackPointDetailPage()">
                                    info
                                </i>
                            </span>
                        </div>
                    </li>
                </ul>

                <div class="img-section">

                    <header class="track-image-header">
                        <i class="material-icons" class="material-icons">gps_fixed</i>
                        <label for="">Live tracking</label>
                    </header>

                    <img class="track-image" src="../../assets/images/banner.jpg" alt="" #trackImage>

                </div>

            </section>

        </aside>

        <section class="notification-list" set-notfication-list-height [trackImageProp]="trackImage"
            [style.height.px]="trackImage.clientHeight | setListHeight">
            <app-list [listHeaderNameProp]="'Jobs'" [showExpandBtnProp]="true" [operationListProp]="operationList"
                [selectedOperationInTrackPointProp]="selectedOperationInTrackPoint"
                (selectedListItemToShowEvent)="handleSelectedListItemToShow($event)"
                (selectedListItemInfoIconEvent)="handleSelectedListItemInfoIcon($event)">
            </app-list>
        </section>

    </aside>

</article>

<article class="shift-report-overlay" *ngIf="showShiftReport">

    <!-- <section class="overlay"></section> -->

    <section class="shift-report">

        <header class="shift-report-header">
            <span>
                <img src="../../assets/Shift Report/icon.svg">
            </span>
            <label for="">Shift Report</label>
            <button (click)="closeShiftReport()">
                <i class="material-icons">close</i>
            </button>
        </header>
        <div class="detail-section">
            <div class="job-table">
                <table cellspacing="0" cellpadding="0">
                    <tr>
                        <th>Job</th>
                        <th>Ontime</th>
                        <th>Delayed</th>
                        <th>completed</th>
                        <th>Notes</th>
                    </tr>
                    <tr *ngFor="let list of operationList; let i = index;">
                        
                        <td>
                            <div>
                                <figure class="list-item-image warning">
                                    <img src="./assets/Operations/{{list.operationNotificationIcon}}">
                                </figure>
                                <label for="">{{list.jobDetails}}</label>
                            </div>
                        </td>
                        <td>
                            <div>
                                <!-- <p>{{i==0 || i==2 || i==5 || i==7 || i==10 || i==11}}</p> -->
                                <input type="radio" name="r1_{{list.jobId}}" id="r1_{{list.jobId}}"
                                    [checked]="list.jobStatus === 'On-Time'" title="{{list.jobStatus}}"/>
                                <label for="r1_{{list.jobId}}" class="custom-radio"></label>
                            </div>
                        </td>
                        <td>
                            <div>
                                <!-- <p>{{i==1||i==8||i==9}}</p> -->
                                <input type="radio" name="r2_{{list.jobId}}" id="r2_{{list.jobId}}"
                                    [checked]="list.jobStatus === 'Delayed'"  title="{{list.jobStatus}}" />
                                <label for="r2_{{list.jobId}}" class="custom-radio"></label>
                            </div>
                        </td>
                        <td>
                            <div>
                                <input type="radio" name="r3_{{list.jobId}}" id="r3_{{list.jobId}}"
                                    [checked]="list.jobStatus === 'Critical'" title="{{list.jobStatus}}"/>
                                <label for="r3_{{list.jobId}}" class="custom-radio"></label>
                            </div>
                        </td>
                        <td>
                            <div></div>
                        </td>
                    </tr>


                </table>

            </div>

            <div class="job-table incident-table">
                <table cellspacing="0" cellpadding="0">
                    <tr>
                        <th>Incident</th>
                        <th>Resolved</th>
                        <th>UnResolved</th>
                        <th></th>
                        <th>Notes</th>
                    </tr>
                    <tr *ngFor="let list of operationList; let i = index;">
                        <td>
                            <div>
                                <figure class="list-item-image warning">
                                    <img src="./assets/Operations/{{list.operationNotificationIcon}}">
                                </figure>
                                <label for="">{{list.jobDetails}}</label>
                            </div>
                        </td>
                        <td>
                            <div>
                                <input type="radio" name="r4_{{list.jobId}}" id="r4_{{list.jobId}}"
                                    [checked]="list.jobId === 'J013203'" />
                                <label for="r4_{{list.jobId}}" class="custom-radio"></label>
                            </div>
                        </td>
                        <td>
                            <div>
                                <input type="radio" name="r5_{{list.jobId}}" id="r5_{{list.jobId}}"
                                    [checked]="list.jobStatus === 'Delayed'" />
                                <label for="r5_{{list.jobId}}" class="custom-radio"></label>
                            </div>
                        </td>
                        <td>
                            <div></div>
                        </td>
                        <td>
                            <div></div>
                        </td>
                    </tr>


                </table>

            </div>
            <div class="submit-section">
                <button (click)="closeShiftReport()">Save</button>
                <button (click)="closeShiftReport()">End Shift</button>
            </div>
        </div>

    </section>

</article>
<aside class="notification-details-layer" *ngIf="showInfo">
    <article class="notification-details">

        <section class="notification-details-container">
            <button class="close-btn" (click)="handleCloseNotificationDetailsPage()">
                <i class="material-icons">close</i>
            </button>
            <figure>
                <img src="./assets/Operations/Stadium_Inspection.jpg">
            </figure>
        </section>
    </article>
</aside>